<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/css/reset.css" />
    <link rel="stylesheet" href="../../styles/css/grids.css" />
    <link rel="stylesheet" href="../../styles/css/generalNpf.css" />
    <link rel="stylesheet" href="../../styles/css/headerFooter.css" />
    <link rel="stylesheet" href="../../styles/css/newsNumber.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="header header_news">
      <div class="header__container">
        <div class="header__row">
          <div class="header__left-bloc">
            <button class="header__button-lines">
              <div class="header__line header__line_news"></div>
              <div class="header__line header__line_news"></div>
              <div class="header__line header__line_news"></div>
            </button>

            <a class="header__logotype" href="../../templates/main.html">
              <img
                class="header__image"
                src="../../assets/logotype/logoColored.svg"
                alt=""
              />

              <img
                class="header__image"
                src="../../assets/logotype/logoColoredSmall.svg"
                alt=""
              />
            </a>

            <div class="header__nav">
              <a
                class="header__link header__link_news"
                href="../../templates/aboutFund.html"
                >О фонде</a
              >

              <a
                class="header__link header__link_news"
                href="../../templates/invest.html"
                >Инвестиционная деятельность</a
              >

              <a
                class="header__link header__link_news"
                href="../../templates/forBusiness.html"
                >Бизнесу</a
              >

              <a
                class="header__link header__link_news"
                href="../../templates/supportService.html"
                >Поддержка</a
              >

              <a
                class="header__link header__link_news"
                href="../../templates/contacts.html"
                >Контакты</a
              >
            </div>
          </div>

          <div class="header__right-bloc">
            <div class="header__contacts">
              <div class="header__phone">
                <a class="header__phone-link" href="tel:+78002004766">
                  <p class="header__phone-number header__phone-number_news">
                    8 800 200-47-66
                  </p>
                </a>

                <button
                  class="header__obratnyy-zvonok header__obratnyy-zvonok_news"
                >
                  Обратный звонок
                </button>
              </div>
            </div>

            <div class="header__button-switch">
              <div class="header__button-images">
                <img
                  class="header__icon"
                  src="../../assets/icons/userColored.svg"
                  alt=""
                />

                <img
                  class="header__icon"
                  src="../../assets/icons/userDark.svg"
                  alt=""
                />
              </div>

              <p class="header__button-title header__button-title_news">
                Личный кабинет
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="news">
        <div class="news__container">
          <a class="news__link-to-news" href="../../templates/news.html">
            <div class="news__icons">
              <img
                class="news__image"
                src="../../assets/icons/triangleColoredGreen.svg"
                alt=""
              />

              <img
                class="news__image"
                src="../../assets/icons/triangleLight.svg"
                alt=""
              />

              <img
                class="news__image"
                src="../../assets/icons/triangleDark.svg"
                alt=""
              />
            </div>
            <p class="news__link-title">К списку новостей</p>
          </a>

          <div class="news__header">
            <h1 class="news__header-heading">
              Ренессанс Страхование и НПФ «БЛАГОСОСТОЯНИЕ» создают единую
              страховую группу при участии фонда Бэринг Восток
            </h1>

            <p class="news__header-date">06 июля 2017 г.</p>

            <p class="news__paragraph">
              Группа Ренессанс Страхование и НПФ «БЛАГОСОСТОЯНИЕ» при участии
              фонда Бэринг Восток объединяют свои страховые активы для создания
              крупного высокотехнологичного игрока на российском страховом
              рынке.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              Соответствующее соглашение подписано в Москве 6 июля 2017 года и
              вступит в силу после получения необходимых регуляторных
              согласований.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              В объединенную страховую группу войдут ООО «Группа Ренессанс
              Страхование», ООО «СК «Ренессанс Жизнь», АО «ИНТАЧ СТРАХОВАНИЕ»,
              АО «СК БЛАГОСОСТОЯНИЕ», АО «СК БЛАГОСОСТОЯНИЕ ОС», НПФ
              «БЛАГОСОСТОЯНИЕ ЭМЭНСИ», АО «УК «СПУТНИК – УПРАВЛЕНИЕ КАПИТАЛОМ» и
              ООО «Медицинская компания «МЕДКОРП».
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              Целью объединения является развитие бизнеса и достижение
              объединенной группой лидерских позиций в целевых сегментах рынка:
              прямом страховании, накопительном страховании жизни,
              банкостраховании, автостраховании, страховании здоровья. При этом
              лучшие технологии и практики объединяющихся компаний получат
              применение в новой структуре, клиентам станет доступен весь спектр
              страховых продуктов и технологичный качественный сервис во всех
              каналах дистрибуции.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              Сторонами сделки выступают: международная Группа Спутник, УК
              «ТРАНСФИНГРУП», управляющая пенсионными резервами НПФ
              «БЛАГОСОСТОЯНИЕ» и международный институциональный инвестор фонд
              Бэринг Восток. Партнеры получат в объединенной компании доли в
              размере 52,1%, 35,8% и 12,1% соответственно.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              Капитализация объединенной группы превысит 27 млрд рублей. Сделка
              станет крупнейшей для российского страхового рынка с участием
              международного инвестора за последние 10 лет. Стратегическим
              консультантом Группы Спутник по организации сделки выступил
              Sberbank CIB.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              Управляющим партнером объединенной компании с контрольным пакетом
              акций станет Группа Спутник, возглавляемая Борисом Йорданом.
              Стратегия развития объединенной компании будет утверждаться
              созданным Советом директоров, куда войдут представители трех
              акционеров. Принятие ключевых решений в объединенной компании
              будет осуществляться инвесторами совместно в соответствии с
              лучшими практиками корпоративного управления.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              «Я рад, что наш бизнес будет развиваться совместно с такими
              успешными инвестиционными партнерами. И теперь в России появится
              полностью капитализированный и высокоприбыльный игрок. В
              результате этого объединения появится страховая группа, которая
              сможет предложить своим розничным и корпоративным клиентам
              максимально широкий набор страховых услуг и продуктов, включая
              медицинские сервисы и продукт корпоративного пенсионного
              обеспечения. Это объединение обеспечит значительный рост бизнеса и
              прибыли. Консолидированные премии объединенной компании превысят
              50 млрд рублей уже в этом году», – отмечает президент Группы
              Ренессанс Страхование и владелец Группы Спутник Борис Йордан.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              «В страховом бизнесе важен эффект масштаба, поэтому фонд
              заинтересован в участии в крупной диверсифицированной страховой
              группе. Данное трехстороннее партнерство мы считаем стратегически
              верным: «Ренессанс страхование» входит в ТОП-10, имеет операционно
              прибыльный и один из самых привлекательных розничных портфелей на
              рынке, а также активно инвестирует в технологии, Baring Vostok
              является крупным международным инвестором. Мы считаем, что
              экономический потенциал объединенного бизнеса создает перспективы
              для увеличения дивидендной доходности на инвестиции фонда», –
              говорит исполнительный директор НПФ «БЛАГОСОСТОЯНИЕ» Юрий
              Новожилов.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              «Мы видим, что интерес инвесторов к российскому бизнесу
              восстанавливается. И эта сделка с участием крупного международного
              фонда и российского институционального партнёра подтверждает, что
              финансовый рынок России открыт для локальных и международных
              инвесторов», – комментирует подписанную сделку глава Sberbank CIB
              Игорь Буланцев.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              «Ренессанс Страхование сегодня - это прозрачный и эффективно
              управляемый бизнес в страховой отрасли, которая переживает
              фундаментальные изменения, повышающие прибыльность и устойчивость
              сектора в целом. Мы считаем, что высокий уровень капитализации в
              результате сделки, завершённой сегодня, а также лидирующие позиции
              Ренессанс страхование в некоторых из наиболее быстро растущих
              сегментах сектора, повышают инвестиционную привлекательность
              компании», – говорит старший партнер Baring Vostok Сapital
              Partners Group Майкл Калви.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              Группа Ренессанс Страхование учреждена в 1997 году инвестиционной
              Группой Спутник. Уставный капитал компании – 2,1 млрд. рублей.
              Объем подписанной премии Группы (в которую входят компании
              Ренессанс страхование и «Ренессанс Жизнь») по итогам 2016 года
              составил 40,3 млрд рублей. По данным ЦБ РФ, Группа входит в топ-10
              страховых компаний России по объему собранной премии.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              НПФ «БЛАГОСОСТОЯНИЕ» входит в число крупнейших негосударственных
              пенсионных фондов России. Фонд лидирует в сегменте
              негосударственного пенсионного обеспечения: число клиентов
              превышает 1,2 млн человек, а свыше 346 тысяч человек уже получают
              негосударственную пенсию в фонде. С 1999 года НПФ «БЛАГОСОСТОЯНИЕ»
              реализует корпоративную систему негосударственного пенсионного
              обеспечения для предприятий и организаций сферы железнодорожного
              транспорта.
            </p>

            <p class="news__paragraph"><br /></p>

            <p class="news__paragraph">
              Baring Vostok – одна из лидирующих компаний прямых инвестиций,
              действующих в России и странах СНГ. С 1994 года фонды Baring
              Vostok инвестировали более $2,8 млрд в 80 проектов, среди которых
              ряд успешных компаний в сфере финансовых услуг, нефтегазовой
              отрасли, телекоммуникациях, медиа, и в потребительском секторе.
            </p>

            <p class="news__paragraph">
              В настоящее время привлечённый капитал фондов составляет $3,7
              млрд. В числе проектов фондов Baring Vostok: СТС Медиа, Голден
              Телеком, Яндекс, Озон, Гэллери Групп, ЦФТ, Энфорта, ЭР-Телеком,
              1С, Баррен Энерджи, Volga Gas, Жаикмунай, Новомет, Каспи Банк,
              Восточный банк, Европлан, ЕМС и многие другие.
            </p>

            <p class="news__paragraph">
              Инвестиционным консультантом фондов выступает компания Baring
              Vostok Capital Partners Group Limited (располагается в Гернси), в
              московском представительстве которой работает команда из сорока
              инвестиционных профессионалов.
            </p>

            <p class="news__paragraph">
              Бренд Baring объединяет фонды прямых инвестиций с капиталом свыше
              $18 млрд. Baring Private Equity International – одна из самых
              крупных мировых сетей на рынке прямых инвестиций в странах СНГ,
              Азии, Индии, Европы и Латинской Америки.
            </p>

            <p class="news__paragraph"><br /></p>
          </div>

          <div class="news__footer">
            <h1 class="news__footer-heading">Другие новости</h1>

            <article class="news__column">
              <a class="news__link" href="../news/09.html"
                >Переезд офиса НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»</a
              >

              <p class="news__date">15 мая 2017 г.</p>
            </article>

            <article class="news__column">
              <a class="news__link" href="../news/11.html"
                >Сообщение о проведении заседания Совета Фонда НПФ
                «БЛАГОСОСТОЯНИЕ ЭМЭНСИ», в повестку дня которого включен вопрос
                о реорганизации НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» в форме
                преобразования в акционерный пенсионный фонд</a
              >

              <p class="news__date">23 августа 2017 г.</p>
            </article>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__container">
          <div class="footer__header">
            <a class="footer__logotype" href="../../templates/main.html">
              <img
                class="footer__logo-big"
                src="../../assets/logotype/logoColored.svg"
              />

              <img
                class="footer__logo-small"
                src="../../assets/logotype/logoColoredSmall.svg"
              />
            </a>

            <div>
              <img
                class="footer__logos-items"
                src="../../assets/icons/logoNapf.svg"
                alt=""
              />

              <img
                class="footer__logos-items"
                src="../../assets/icons/logoAeb.svg"
                alt=""
              />

              <img src="../../assets/icons/logoExpert.svg" alt="" />
            </div>
          </div>
          <div class="footer__phone">
            <h2 class="footer__phone-number">8 800 200-47-66</h2>
          </div>

          <div class="footer__menu">
            <div class="footer__nav">
              <div class="footer__column">
                <a
                  class="footer__link"
                  href="../../templates/supportService.html#write-to-us"
                  >Написать нам</a
                >
                <a
                  class="footer__link"
                  href="../../templates/supportService.html#questions-and-answers"
                  >Вопросы и ответы</a
                >
                <a class="footer__link" href="../../templates/aboutFund.html"
                  >О Фонде</a
                >
                <a
                  class="footer__link"
                  href="../../templates/fundManagement.html"
                  >Руководство Фондом</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../../templates/infoOpening.html"
                  >Раскрытие информации</a
                >
                <a class="footer__link" href="../../templates/invest.html"
                  >Инвестиционная деятельность
                </a>

                <a class="footer__link" href="../../templates/forBusiness.html"
                  >Для бизнеса</a
                >
                <a
                  class="footer__link"
                  href="../../templates/main.html#calculator"
                  >Калькулятор</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../../templates/news.html"
                  >Новости</a
                >
                <a class="footer__link" href="../../templates/taxation.html"
                  >Налогообложение</a
                >
              </div>
            </div>

            <div class="footer__copyright-wrapper">
              <div class="footer__copyright">
                <a
                  class="footer__copyright-link"
                  href="../../templates/spisokAktsionerov.html"
                >
                  Список акционеров Фонда и лиц, под контролем либо значительным
                  влиянием которых находится Фонд (соответствует информации,
                  направленной в Банк России 16.03.2021 г. для размещения на
                  официальном сайте Банка России).</a
                >

                <p class="footer__copyright-npf">
                  © 2009-2019 НПФ Ренессанс. Пенсии.
                </p>

                <p class="footer__copyright-license">
                  Лицензия № 383/2 от 16 июня 2009 года
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>

    <section class="menu-mobil menu-mobil__hide">
      <div>
        <div class="menu-mobil__logos">
          <img
            class="menu-mobil__logo-small"
            src="../../assets/logotype/logoColoredSmall.svg"
            alt=""
          />

          <img
            class="menu-mobil__logo-big"
            src="../../assets/logotype/logoColored.svg"
            alt=""
          />
        </div>

        <p class="menu-mobil__title">О Фонде</p>

        <a class="menu-mobil__link" href="../../templates/fundManagement.html"
          >Руководство Фондом</a
        >

        <a class="menu-mobil__link" href="../../templates/infoOpening.html"
          >Раскрытие информации</a
        >

        <a class="menu-mobil__link" href="../../templates/invest.html"
          >Инвестиционная деятельность</a
        >

        <p class="menu-mobil__title">Клиентам</p>

        <a class="menu-mobil__link" href="../../templates/forBusiness.html"
          >Для бизнеса</a
        >

        <a class="menu-mobil__link" href="../../templates/main.html#calculator"
          >Калькулятор</a
        >

        <a
          class="menu-mobil__link"
          href="../../templates/supportService.html#write-to-us"
          >Написать нам</a
        >

        <a
          class="menu-mobil__link"
          href="../../templates/supportService.html#questions-and-answers"
          >Вопросы и ответы</a
        >

        <div class="menu-mobil__phone">
          <a class="menu-mobil__phone-link" href="tel:+78002004766">
            <p class="menu-mobil__phone-number">8 800 200-47-66</p>
          </a>

          <button class="menu-mobil__obratnyy-zvonok">Обратный звонок</button>
        </div>
      </div>

      <div>
        <p class="menu-mobil__copy-right">© 2009-2019 НПФ Ренессанс. Пенсии</p>

        <p class="menu-mobil__copy-right">
          Лицензия № 383/2 от 16 июня 2009 года
        </p>
      </div>

      <button class="menu-mobil__cross-switch">
        <img src="../../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="call-back call-back__left">
      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Как вас зовут?</p>

            <input
              class="my-form__field"
              type="text"
              name="name"
              tabindex="6"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="7"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="call-back__button-container">
          <button class="my-form__button primary-button" tabindex="7" disabled>
            Отправить
          </button>
        </div>
      </div>

      <button class="call-back__button-hide">
        <img src="../../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="login-form login-form__hide login-form__scale-1">
      <h1 class="login-form__heading">Вход</h1>

      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="1"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Электронная почта</p>

            <input
              class="my-form__field"
              type="email"
              name="email"
              autocomplete="on"
              tabindex="2"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Пароль</p>

            <input
              class="my-form__field"
              type="text"
              name="password"
              tabindex="3"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="login-form__button-container">
          <button class="my-form__button primary-button" tabindex="4" disabled>
            Продолжить
          </button>
        </div>
      </div>

      <p class="login-form__title">
        Вход для клиентов
        <span class="login-form__title_span"> НПФ "Ренессанс - пенсии"</span>
      </p>

      <p class="login-form__subtitle">
        Нажимая кнопку «Продолжить», вы выражаете согласие на обработку своих
        персональных данных и принимаете условия соглашения
      </p>

      <button class="login-form__cross-switch">
        <img src="../../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <script src="../../js/news/callBackNews.js"></script>
    <script src="../../js/menuMobil.js"></script>
    <script src="../../js/loginForm.js"></script>
  </body>
</html>
