<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/generalNpf.css" />
    <link rel="stylesheet" href="../styles/css/headerFooter.css" />
    <link rel="stylesheet" href="../styles/css/aboutFund.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__row">
          <div class="header__left-bloc">
            <button class="header__button-lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </button>

            <a class="header__logotype" href="../templates/main.html">
              <img
                class="header__image"
                src="../assets/logotype/logoWhite.svg"
                alt=""
              />

              <img
                class="header__image"
                src="../assets/logotype/logoWhiteSmall.svg"
                alt=""
              />
            </a>

            <div class="header__nav">
              <a class="header__link" href="../templates/aboutFund.html"
                >О фонде</a
              >
              <a class="header__link" href="../templates/invest.html"
                >Инвестиционная деятельность</a
              >
              <a class="header__link" href="../templates/forBusiness.html"
                >Бизнесу</a
              >
              <a class="header__link" href="../templates/supportService.html"
                >Поддержка</a
              >
              <a class="header__link" href="../templates/contacts.html"
                >Контакты</a
              >
            </div>
          </div>

          <div class="header__right-bloc">
            <div class="header__contacts">
              <div class="header__phone">
                <a class="header__phone-link" href="tel:+78002004766">
                  <p class="header__phone-number">8 800 200-47-66</p>
                </a>

                <button class="header__obratnyy-zvonok">Обратный звонок</button>
              </div>
            </div>

            <div class="header__button-switch">
              <div class="header__button-images">
                <img
                  class="header__icon"
                  src="../assets/icons/userColored.svg"
                  alt=""
                />
                <img
                  class="header__icon"
                  src="../assets/icons/userContact.svg"
                  alt=""
                />
              </div>

              <p class="header__button-title">Личный кабинет</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section
        class="top-block"
        style="
          background-image: url(../assets/images/aboutFund/aboutFundTop.jpg);
        "
      >
        <div class="top-block__container">
          <h1 class="top-block__heading">О фонде</h1>

          <p class="top-block__subheading">
            На сегодняшний день АО НПФ "Ренессанс пенсии" – один из крупнейших и
            надежных негосударственных пенсионных фондов на рынке
            негосударственного пенсионного обеспечения (НПО).
          </p>
        </div>
      </section>

      <section class="aboutUs">
        <p class="aboutUs__description">
          Мы являемся одним из немногих безотраслевых фондов, что позволяет нам
          вести абсолютно прозрачную и независимую инвестиционную политику в
          отношении наших клиентов и занимать лидирующие позиции на протяжении
          последних 15 лет.
        </p>

        <p class="aboutUs__description">
          Акционерами Фонда являются: ООО "Велби Холдинг" и АО СК "Ренессанс
          здоровье".
        </p>
      </section>

      <section class="history">
        <div class="history__top">
          <h2 class="history__heading">История Фонда</h2>

          <div class="offset-arrows">
            <div class="offset-arrows__left-arrow">
              <img
                class="
                  offset-arrows__left-image offset-arrows__image-not-visible
                "
                src="../assets/icons/arrowRightColored.svg"
              />

              <img
                class="offset-arrows__left-image"
                src="../assets/icons/arrowRightDark.svg"
              />
            </div>

            <div class="offset-arrows__right-arrow">
              <img
                class="
                  offset-arrows__right-image offset-arrows__image-not-visible
                "
                src="../assets/icons/arrowRightColored.svg"
                alt=""
              />

              <img
                class="offset-arrows__right-image"
                src="../assets/icons/arrowRightDark.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>

      <section class="history-scrolling">
        <div class="history-scrolling__container">
          <div class="history-scrolling__visible-block">
            <div class="history-scrolling__hidden-block" style="right: 0px">
              <div class="history-scrolling__column">
                <div class="history-scrolling__title">2002</div>
                <div class="history-scrolling__line"></div>
                <div class="history-scrolling__description">
                  Дата основания Фонда как части финансовой группы ING в России.
                  Уже в 2003 году в Фонд приходят первые крупные клиенты, что
                  дало Фонду существенный толчок к развитию и сделало его
                  привлекательным в глазах будущих партнеров.
                </div>
              </div>

              <div class="history-scrolling__column">
                <div class="history-scrolling__title">2003</div>
                <div class="history-scrolling__line"></div>
                <div class="history-scrolling__description">
                  В Фонд приходят первые крупные клиенты.
                </div>
              </div>

              <div class="history-scrolling__column">
                <div class="history-scrolling__title">2008</div>
                <div class="history-scrolling__line"></div>
                <div class="history-scrolling__description">
                  Клиентами Фонда стали более 70 наших текущих партнеров.
                </div>
              </div>

              <div class="history-scrolling__column">
                <div class="history-scrolling__title">2009</div>
                <div class="history-scrolling__line"></div>
                <div class="history-scrolling__description">
                  В связи с изменением бизнес стратегии компании ING в России,
                  Фонд был выкуплен крупнейшей Британской страховой компанией
                  AVIVA, что только лишь усилило позиции Фонда.
                </div>
              </div>

              <div class="history-scrolling__column">
                <div class="history-scrolling__title">2013</div>
                <div class="history-scrolling__line"></div>
                <div class="history-scrolling__description">
                  Фонд перешел под управление компании WELBI на 100%
                  контролировавшейся НПФ “Благосостояние”.
                </div>
              </div>

              <div class="history-scrolling__column">
                <div class="history-scrolling__title">2017</div>
                <div class="history-scrolling__line"></div>
                <div class="history-scrolling__description">
                  В результате сделки Фонд вошел в объединенную группу компаний
                  под управлением ООО “Группа Ренессанс Страхование”, одного из
                  крупнейших провайдеров добровольного страхования в России.
                </div>
              </div>

              <div class="history-scrolling__column">
                <div class="history-scrolling__title">2018</div>
                <div class="history-scrolling__line"></div>
                <div class="history-scrolling__description">
                  Состоялась реорганизация в акционерное общество с
                  одновременным переименованием Фонда в АО НПФ «Ренессанс
                  пенсии».
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="statistics">
        <div class="statistics__container">
          <h2 class="statistics__heading">Фонд в цифрах</h2>

          <div class="statistics__bloc">
            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/calendar.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  17 лет <span class="statistics__span"> на рынке</span>
                </p>
                <p class="statistics__subtitle">Фонд основан в 2002 году</p>
              </div>
            </div>

            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/zvezda.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  Высокий <span class="statistics__span"> рейтинг</span>
                </p>
                <p class="statistics__subtitle">
                  Надежность ruАА- по оценке Эксперт РА
                </p>
              </div>
            </div>

            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/users.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  41 000 <span class="statistics__span"> человек</span>
                </p>
                <p class="statistics__subtitle">
                  участники пенсионной программы
                </p>
              </div>
            </div>

            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/partners.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  150 <span class="statistics__span"> компаний</span>
                </p>
                <p class="statistics__subtitle">
                  заботятся о пенсиях сотрудников
                </p>
              </div>
            </div>

            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/bank.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  17 млрд <span class="statistics__span"> рублей</span>
                </p>
                <p class="statistics__subtitle">пенсионных резервов в Фонде</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__container">
          <div class="footer__header">
            <a class="footer__logotype" href="../templates/main.html">
              <img
                class="footer__logo-big"
                src="../assets/logotype/logoColored.svg"
              />

              <img
                class="footer__logo-small"
                src="../assets/logotype/logoColoredSmall.svg"
              />
            </a>

            <div>
              <img
                class="footer__logos-items"
                src="../assets/icons/logoNapf.svg"
                alt=""
              />

              <img
                class="footer__logos-items"
                src="../assets/icons/logoAeb.svg"
                alt=""
              />

              <img src="../assets/icons/logoExpert.svg" alt="" />
            </div>
          </div>
          <div class="footer__phone">
            <h2 class="footer__phone-number">8 800 200-47-66</h2>
          </div>

          <div class="footer__menu">
            <div class="footer__nav">
              <div class="footer__column">
                <a
                  class="footer__link"
                  href="../templates/supportService.html#write-to-us"
                  >Написать нам</a
                >
                <a
                  class="footer__link"
                  href="../templates/supportService.html#questions-and-answers"
                  >Вопросы и ответы</a
                >
                <a class="footer__link" href="../templates/aboutFund.html"
                  >О Фонде</a
                >
                <a class="footer__link" href="../templates/fundManagement.html"
                  >Руководство Фондом</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/infoOpening.html"
                  >Раскрытие информации</a
                >
                <a class="footer__link" href="../templates/invest.html"
                  >Инвестиционная деятельность
                </a>

                <a class="footer__link" href="../templates/forBusiness.html"
                  >Для бизнеса</a
                >
                <a class="footer__link" href="../templates/main.html#calculator"
                  >Калькулятор</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/news.html"
                  >Новости</a
                >
                <a class="footer__link" href="../templates/taxation.html"
                  >Налогообложение</a
                >
              </div>
            </div>

            <div class="footer__copyright-wrapper">
              <div class="footer__copyright">
                <a
                  class="footer__copyright-link"
                  href="../templates/spisokAktsionerov.html"
                >
                  Список акционеров Фонда и лиц, под контролем либо значительным
                  влиянием которых находится Фонд (соответствует информации,
                  направленной в Банк России 16.03.2021 г. для размещения на
                  официальном сайте Банка России).</a
                >

                <p class="footer__copyright-npf">
                  © 2009-2019 НПФ Ренессанс. Пенсии.
                </p>

                <p class="footer__copyright-license">
                  Лицензия № 383/2 от 16 июня 2009 года
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>

    <section class="menu-mobil menu-mobil__hide">
      <div>
        <div class="menu-mobil__logos">
          <img
            class="menu-mobil__logo-small"
            src="../assets/logotype/logoColoredSmall.svg"
            alt=""
          />

          <img
            class="menu-mobil__logo-big"
            src="../assets/logotype/logoColored.svg"
            alt=""
          />
        </div>

        <p class="menu-mobil__title">О Фонде</p>

        <a class="menu-mobil__link" href="../templates/fundManagement.html"
          >Руководство Фондом</a
        >

        <a class="menu-mobil__link" href="../templates/infoOpening.html"
          >Раскрытие информации</a
        >

        <a class="menu-mobil__link" href="../templates/invest.html"
          >Инвестиционная деятельность</a
        >

        <p class="menu-mobil__title">Клиентам</p>

        <a class="menu-mobil__link" href="../templates/forBusiness.html"
          >Для бизнеса</a
        >

        <a class="menu-mobil__link" href="../templates/main.html#calculator"
          >Калькулятор</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#write-to-us"
          >Написать нам</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#questions-and-answers"
          >Вопросы и ответы</a
        >

        <div class="menu-mobil__phone">
          <a class="menu-mobil__phone-link" href="tel:+78002004766">
            <p class="menu-mobil__phone-number">8 800 200-47-66</p>
          </a>

          <button class="menu-mobil__obratnyy-zvonok">Обратный звонок</button>
        </div>
      </div>

      <div>
        <p class="menu-mobil__copy-right">© 2009-2019 НПФ Ренессанс. Пенсии</p>

        <p class="menu-mobil__copy-right">
          Лицензия № 383/2 от 16 июня 2009 года
        </p>
      </div>

      <button class="menu-mobil__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="call-back call-back__left">
      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Как вас зовут?</p>

            <input
              class="my-form__field"
              type="text"
              name="name"
              tabindex="6"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="7"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="call-back__button-container">
          <button class="my-form__button primary-button" tabindex="7" disabled>
            Отправить
          </button>
        </div>
      </div>

      <button class="call-back__button-hide">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="login-form login-form__hide login-form__scale-1">
      <h1 class="login-form__heading">Вход</h1>

      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="1"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Электронная почта</p>

            <input
              class="my-form__field"
              type="email"
              name="email"
              autocomplete="on"
              tabindex="2"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Пароль</p>

            <input
              class="my-form__field"
              type="text"
              name="password"
              tabindex="3"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="login-form__button-container">
          <button class="my-form__button primary-button" tabindex="4" disabled>
            Продолжить
          </button>
        </div>
      </div>

      <p class="login-form__title">
        Вход для клиентов
        <span class="login-form__title_span"> НПФ "Ренессанс - пенсии"</span>
      </p>

      <p class="login-form__subtitle">
        Нажимая кнопку «Продолжить», вы выражаете согласие на обработку своих
        персональных данных и принимаете условия соглашения
      </p>

      <button class="login-form__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <script src="../js/aboutFund/adoutOffsetArrow.js"></script>

    <script src="../js/callBack.js"></script>
    <script src="../js/menuMobil.js"></script>
    <script src="../js/loginForm.js"></script>
  </body>
</html>
