<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/generalNpf.css" />
    <link rel="stylesheet" href="../styles/css/headerFooter.css" />
    <link rel="stylesheet" href="../styles/css/forBusiness.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__row">
          <div class="header__left-bloc">
            <button class="header__button-lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </button>

            <a class="header__logotype" href="../templates/main.html">
              <img
                class="header__image"
                src="../assets/logotype/logoWhite.svg"
                alt=""
              />

              <img
                class="header__image"
                src="../assets/logotype/logoWhiteSmall.svg"
                alt=""
              />
            </a>

            <div class="header__nav">
              <a class="header__link" href="../templates/aboutFund.html"
                >О фонде</a
              >
              <a class="header__link" href="../templates/invest.html"
                >Инвестиционная деятельность</a
              >
              <a class="header__link" href="../templates/forBusiness.html"
                >Бизнесу</a
              >
              <a class="header__link" href="../templates/supportService.html"
                >Поддержка</a
              >
              <a class="header__link" href="../templates/contacts.html"
                >Контакты</a
              >
            </div>
          </div>

          <div class="header__right-bloc">
            <div class="header__contacts">
              <div class="header__phone">
                <a class="header__phone-link" href="tel:+78002004766">
                  <p class="header__phone-number">8 800 200-47-66</p>
                </a>

                <button class="header__obratnyy-zvonok">Обратный звонок</button>
              </div>
            </div>

            <div class="header__button-switch">
              <div class="header__button-images">
                <img
                  class="header__icon"
                  src="../assets/icons/userColored.svg"
                  alt=""
                />
                <img
                  class="header__icon"
                  src="../assets/icons/userContact.svg"
                  alt=""
                />
              </div>

              <p class="header__button-title">Личный кабинет</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section
        class="top-block"
        style="
          background-image: url(../assets/images/forBusinnes/forBusinnes.jpg);
        "
      >
        <div class="top-block__container">
          <h1 class="top-block__heading">Для бизнеса</h1>

          <p class="top-block__subheading">
            Пенсионная программа – современный, эффективный инструмент с
            уникальным набором опций и льгот, позволяющий влиять на мотивацию
            сотрудников и управлять результативностью бизнеса, создавая для
            компании положительный имидж и характеризуя ее как социально
            ответственного работодателя.
          </p>
        </div>
      </section>

      <section class="businnes-carousel">
        <div class="businnes-carousel__container">
          <div class="businnes-carousel__header">
            <h2 class="businnes-carousel__heading">
              Какие задачи решает внедрение пенсионной программы
            </h2>

            <div class="offset-arrows">
              <div class="offset-arrows__left-arrow">
                <img
                  class="
                    offset-arrows__left-image offset-arrows__image-not-visible
                  "
                  src="../assets/icons/arrowRightColored.svg"
                />

                <img
                  class="offset-arrows__left-image"
                  src="../assets/icons/arrowRightDark.svg"
                />
              </div>

              <div class="offset-arrows__right-arrow">
                <img
                  class="
                    offset-arrows__right-image offset-arrows__image-not-visible
                  "
                  src="../assets/icons/arrowRightColored.svg"
                  alt=""
                />

                <img
                  class="offset-arrows__right-image"
                  src="../assets/icons/arrowRightDark.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="businnes-carousel__visable-block">
            <div class="businnes-carousel__hidden-block" style="left: 0px">
              <label
                class="
                  businnes-carousel__kvadrat businnes-carousel__kvadrat-actived
                "
              >
                <input
                  class="businnes-carousel__radio"
                  type="radio"
                  value="0"
                />

                <div class="businnes-carousel__icons">
                  <img
                    class="businnes-carousel__image"
                    src="../assets/icons/forBusinnes/moneyColored.svg"
                    alt=""
                  />

                  <img
                    class="
                      businnes-carousel__image businnes-carousel__image_hidden
                    "
                    src="../assets/icons/forBusinnes/moneyDark.svg"
                    alt=""
                  />
                </div>

                <p class="businnes-carousel__title">
                  Увеличение социальных гарантий
                </p>
              </label>

              <label class="businnes-carousel__kvadrat">
                <input
                  class="businnes-carousel__radio"
                  type="radio"
                  value="1"
                />
                <div class="businnes-carousel__icons">
                  <img
                    class="
                      businnes-carousel__image businnes-carousel__image_hidden
                    "
                    src="../assets/icons/forBusinnes/circleColored.svg"
                    alt=""
                  />

                  <img
                    class="businnes-carousel__image"
                    src="../assets/icons/forBusinnes/circleDark.svg"
                    alt=""
                  />
                </div>
                <p class="businnes-carousel__title">
                  Сокращение текучести кадров
                </p>
              </label>

              <label class="businnes-carousel__kvadrat">
                <input
                  class="businnes-carousel__radio"
                  type="radio"
                  value="2"
                />
                <div class="businnes-carousel__icons">
                  <img
                    class="
                      businnes-carousel__image businnes-carousel__image_hidden
                    "
                    src="../assets/icons/forBusinnes/youngColored.svg"
                    alt=""
                  />

                  <img
                    class="businnes-carousel__image"
                    src="../assets/icons/forBusinnes/youngDark.svg"
                    alt=""
                  />
                </div>
                <p class="businnes-carousel__title">
                  Своевременное омоложение коллектива
                </p>
              </label>

              <label class="businnes-carousel__kvadrat">
                <input
                  class="businnes-carousel__radio"
                  type="radio"
                  value="3"
                />
                <div class="businnes-carousel__icons">
                  <img
                    class="
                      businnes-carousel__image businnes-carousel__image_hidden
                    "
                    src="../assets/icons/forBusinnes/leverColored.svg"
                    alt=""
                  />

                  <img
                    class="businnes-carousel__image"
                    src="../assets/icons/forBusinnes/leverDark.svg"
                    alt=""
                  />
                </div>
                <p class="businnes-carousel__title">
                  Рычаги управления коллективом
                </p>
              </label>

              <label class="businnes-carousel__kvadrat">
                <input
                  class="businnes-carousel__radio"
                  type="radio"
                  value="4"
                />
                <div class="businnes-carousel__icons">
                  <img
                    class="
                      businnes-carousel__image businnes-carousel__image_hidden
                    "
                    src="../assets/icons/forBusinnes/motivateColored.svg"
                    alt=""
                  />

                  <img
                    class="businnes-carousel__image"
                    src="../assets/icons/forBusinnes/motivateDark.svg"
                    alt=""
                  />
                </div>
                <p class="businnes-carousel__title">
                  Мотивация к долгосрочному труду
                </p>
              </label>

              <label class="businnes-carousel__kvadrat">
                <input
                  class="businnes-carousel__radio"
                  type="radio"
                  value="5"
                />
                <div class="businnes-carousel__icons">
                  <img
                    class="
                      businnes-carousel__image businnes-carousel__image_hidden
                    "
                    src="../assets/icons/forBusinnes/settingsColored.svg"
                    alt=""
                  />

                  <img
                    class="businnes-carousel__image"
                    src="../assets/icons/forBusinnes/settingsDark.svg"
                    alt=""
                  />
                </div>
                <p class="businnes-carousel__title">
                  Оптимизация налогообложения организации
                </p>
              </label>

              <label class="businnes-carousel__kvadrat">
                <input
                  class="businnes-carousel__radio"
                  type="radio"
                  value="6"
                />
                <div class="businnes-carousel__icons">
                  <img
                    class="
                      businnes-carousel__image businnes-carousel__image_hidden
                    "
                    src="../assets/icons/forBusinnes/checkColored.svg"
                    alt=""
                  />

                  <img
                    class="businnes-carousel__image"
                    src="../assets/icons/forBusinnes/checkDark.svg"
                    alt=""
                  />
                </div>
                <p class="businnes-carousel__title">
                  Сокращение издержек на социальную поддержку пенсионеров
                </p>
              </label>
            </div>
          </div>
        </div>

        <div class="businnes-carousel__box-for-transmitted">
          <h2 class="businnes-carousel__transmitted-text">
            Сохранение статуса и образа жизни после выхода на пенсию
          </h2>
        </div>
      </section>

      <section class="business-programm">
        <div class="business-programm__container">
          <div class="business-programm__header">
            <h1 class="business-programm__heading">
              Как работает корпоративная пенсионная программа
            </h1>
          </div>
          <div class="business-programm__block">
            <div class="business-programm__column">
              <div class="business-programm__top-block">
                <img
                  class="business-programm__icon"
                  src="../assets/icons/forBusinnes/caseDark.svg"
                  alt=""
                />

                <h2 class="business-programm__title">
                  Работодатель (Вкладчик)
                </h2>
              </div>

              <div class="business-programm__description-block">
                <p class="business-programm__description">
                  Определяет условия программы
                </p>

                <p class="business-programm__description">
                  Уплачивает взносы в фонд
                </p>
              </div>
            </div>

            <div class="business-programm__column">
              <div class="business-programm__top-block">
                <img
                  class="business-programm__icon"
                  src="../assets/icons/forBusinnes/manDark.svg"
                  alt=""
                />

                <h2 class="business-programm__title">Сотрудник (Участник)</h2>
              </div>

              <div class="business-programm__description-block">
                <p class="business-programm__description">
                  Заключает личный договор
                </p>

                <p class="business-programm__description">
                  Уплачивает взносы в фонд
                </p>

                <p class="business-programm__description">
                  Выполняет условия программы
                </p>

                <p class="business-programm__description">
                  Получает пенсию или выкупную сумму
                </p>
              </div>
            </div>

            <div class="business-programm__column">
              <div class="business-programm__top-block">
                <img
                  class="business-programm__icon"
                  src="../assets/icons/forBusinnes/bankDark.svg"
                  alt=""
                />

                <h2 class="business-programm__title">Фонд</h2>
              </div>

              <div class="business-programm__description-block">
                <p class="business-programm__description">
                  Аккумулирует взносы вкладчика (Участника) ведет учет,
                  распределяет инвестиционный доход
                </p>

                <p class="business-programm__description">
                  Выплачивает негосударственные пенсии участникам
                </p>
              </div>
            </div>

            <div class="business-programm__column">
              <div class="business-programm__top-block">
                <img
                  class="business-programm__icon"
                  src="../assets/icons/forBusinnes/candleDark.svg"
                  alt=""
                />

                <h2 class="business-programm__title">Управляющая компания</h2>
              </div>

              <div class="business-programm__description-block">
                <p class="business-programm__description">
                  Определяет условия программы
                </p>

                <p class="business-programm__description">
                  Уплачивает взносы в фонд
                </p>

                <p class="business-programm__description">
                  Управляет портфелем ценных бумаг
                </p>

                <p class="business-programm__description">
                  Инвестирует с целью получения дохода
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="businnes-images">
        <div class="businnes-images__container">
          <img
            class="businnes-images__image"
            src="../assets/images/forBusinnes/table.jpg"
            alt=""
          />

          <img
            class="businnes-images__image"
            src="../assets/images/forBusinnes/workers.jpg"
            alt=""
          />
        </div>
      </section>

      <section class="businnes-statistic">
        <h2 class="businnes-statistic__heading">Преимущества Фонда</h2>

        <div class="businnes-statistic__wrapper">
          <div class="businnes-statistic__data-block">
            <img
              class="businnes-statistic__icon"
              src="../assets/icons/forBusinnes/investDark.svg"
              alt=""
            />

            <p class="businnes-statistic__description">
              Полная прозрачность инвестиционного процесса
            </p>
          </div>

          <div class="businnes-statistic__data-block">
            <img
              class="businnes-statistic__icon"
              src="../assets/icons/forBusinnes/groupDark.svg"
              alt=""
            />

            <p class="businnes-statistic__description">
              Представители крупных международных компаний составляют
              Попечительский Совет Фонда
            </p>
          </div>

          <div class="businnes-statistic__data-block">
            <img
              class="businnes-statistic__icon"
              src="../assets/icons/forBusinnes/stockDark.svg"
              alt=""
            />

            <p class="businnes-statistic__description">
              Возможность гибкого формирования корпоративной пенсионной
              программы
            </p>
          </div>

          <div class="businnes-statistic__data-block">
            <img
              class="businnes-statistic__icon"
              src="../assets/icons/forBusinnes/partnerDark.svg"
              alt=""
            />

            <p class="businnes-statistic__description">
              Команда высококлассных специалистов в области управления
              пенсионными фондами
            </p>
          </div>
        </div>
      </section>

      <section class="tax-preferences">
        <div class="tax-preferences__wrapper">
          <div class="tax-preferences__container">
            <div class="tax-preferences__selections">
              <div
                class="tax-preferences__select tax-preferences__select_actived"
              >
                <div class="tax-preferences__icons">
                  <img
                    class="
                      tax-preferences__image tax-preferences__image_actived
                    "
                    src="../assets/icons/forBusinnes/companyColored.svg"
                    alt=""
                    style="display: block"
                  />

                  <img
                    class="
                      tax-preferences__image tax-preferences__image_actived
                    "
                    src="../assets/icons/forBusinnes/companyDark.svg"
                    alt=""
                    style="display: none"
                  />
                </div>

                <p
                  class="tax-preferences__title tax-preferences__title_actived"
                >
                  Для компании
                </p>
              </div>

              <div class="tax-preferences__select">
                <div class="tax-preferences__icons">
                  <img
                    class="tax-preferences__image"
                    src="../assets/icons/forBusinnes/usersColored.svg"
                    alt=""
                    style="display: none"
                  />

                  <img
                    class="tax-preferences__image"
                    src="../assets/icons/forBusinnes/usersDark.svg"
                    alt=""
                    style="display: block"
                  />
                </div>

                <p class="tax-preferences__title">Для сотрудников</p>
              </div>
            </div>

            <div class="tax-preferences__options">
              <h1 class="tax-preferences__heading">Налоговые преференции</h1>

              <div class="tax-preferences__company">
                <h2 class="tax-preferences__subheading">
                  Страховые взносы пп. 5 п. 1 ст. 422 НК РФ
                </h2>

                <p class="tax-preferences__description">
                  Пенсионные взносы в пользу работников в рамках пенсионной
                  программы не облагаются страховыми взносами (30% от фонда
                  оплаты труда) в федеральный бюджет: ПФР, ФОМС, ФСС
                </p>

                <p class="tax-preferences__description"></p>

                <h2 class="tax-preferences__subheading">
                  Налог на прибыль (20%) пп. 16 п.1 ст. 255 НК РФ
                </h2>

                <p class="tax-preferences__description">
                  Пенсионные взносы работодателя в пользу сотрудников на именные
                  пенсионные счета относятся на расходы по оплате труда в
                  размере до 12% от фонда оплаты труда и уменьшают
                  налогооблагаемую базу по налогу на прибыль.
                </p>
              </div>

              <div class="tax-preferences__workers" style="display: none">
                <h2 class="tax-preferences__subheading">
                  Социальный налоговый вычет п.4 п.1 ст.219 НК РФ
                </h2>

                <p class="tax-preferences__description">
                  Возможность получить социальный налоговый вычет в размере 13%
                  от суммы уплаченных взносов по личному договору
                  негосударственного пенсионного обеспечения (максимальный
                  размер суммы взносов для получения налогового вычета - 120.000
                  рублей/год).
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="businnes-callback">
        <div class="businnes-callback__container">
          <h2 class="businnes-callback__subheading">Свяжитесь с нами</h2>

          <h1 class="businnes-callback__heading">
            Наши специалисты по пенсионным программам помогут составить
            персональную программу для сотрудников вашей компании
          </h1>

          <div class="businnes-callback__form">
            <div class="my-form my-form-business">
              <div
                class="
                  my-form__label-container
                  my-form-business__label-container
                "
              >
                <label class="my-form__label">
                  <p class="my-form__title">Как вас зовут?</p>

                  <input
                    class="my-form__field"
                    type="text"
                    name="name"
                    tabindex="2"
                  />
                </label>
              </div>

              <div
                class="
                  my-form__label-container
                  my-form-business__label-container
                "
              >
                <label class="my-form__label">
                  <p class="my-form__title">Телефон</p>

                  <input
                    class="my-form__field tel-number"
                    type="number"
                    name="tel"
                    tabindex="1"
                  />

                  <p class="my-form__error"></p>
                </label>
              </div>

              <div
                class="
                  my-form__label-container
                  my-form-business__label-container
                "
              >
                <label class="my-form__label">
                  <p class="my-form__title">Электронная почта</p>

                  <input
                    class="my-form__field"
                    type="email"
                    name="email"
                    tabindex="3"
                  />

                  <p class="my-form__error"></p>
                </label>
              </div>

              <div
                class="
                  my-form__label-container
                  my-form-business__label-container
                "
              >
                <label class="my-form__label">
                  <p class="my-form__title">Название компании</p>

                  <input
                    class="my-form__field"
                    type="text"
                    name="company"
                    tabindex="4"
                  />
                </label>
              </div>
            </div>

            <div class="my-form__button-container">
              <button class="primary-button" tabindex="5">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__container">
          <div class="footer__header">
            <a class="footer__logotype" href="../templates/main.html">
              <img
                class="footer__logo-big"
                src="../assets/logotype/logoColored.svg"
              />

              <img
                class="footer__logo-small"
                src="../assets/logotype/logoColoredSmall.svg"
              />
            </a>

            <div>
              <img
                class="footer__logos-items"
                src="../assets/icons/logoNapf.svg"
                alt=""
              />

              <img
                class="footer__logos-items"
                src="../assets/icons/logoAeb.svg"
                alt=""
              />

              <img src="../assets/icons/logoExpert.svg" alt="" />
            </div>
          </div>
          <div class="footer__phone">
            <h2 class="footer__phone-number">8 800 200-47-66</h2>
          </div>

          <div class="footer__menu">
            <div class="footer__nav">
              <div class="footer__column">
                <a
                  class="footer__link"
                  href="../templates/supportService.html#write-to-us"
                  >Написать нам</a
                >
                <a
                  class="footer__link"
                  href="../templates/supportService.html#questions-and-answers"
                  >Вопросы и ответы</a
                >
                <a class="footer__link" href="../templates/aboutFund.html"
                  >О Фонде</a
                >
                <a class="footer__link" href="../templates/fundManagement.html"
                  >Руководство Фондом</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/infoOpening.html"
                  >Раскрытие информации</a
                >
                <a class="footer__link" href="../templates/invest.html"
                  >Инвестиционная деятельность
                </a>

                <a class="footer__link" href="../templates/forBusiness.html"
                  >Для бизнеса</a
                >
                <a class="footer__link" href="../templates/main.html#calculator"
                  >Калькулятор</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/news.html"
                  >Новости</a
                >
                <a class="footer__link" href="../templates/taxation.html"
                  >Налогообложение</a
                >
              </div>
            </div>

            <div class="footer__copyright-wrapper">
              <div class="footer__copyright">
                <a
                  class="footer__copyright-link"
                  href="../templates/spisokAktsionerov.html"
                >
                  Список акционеров Фонда и лиц, под контролем либо значительным
                  влиянием которых находится Фонд (соответствует информации,
                  направленной в Банк России 16.03.2021 г. для размещения на
                  официальном сайте Банка России).</a
                >

                <p class="footer__copyright-npf">
                  © 2009-2019 НПФ Ренессанс. Пенсии.
                </p>

                <p class="footer__copyright-license">
                  Лицензия № 383/2 от 16 июня 2009 года
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>

    <section class="menu-mobil menu-mobil__hide">
      <div>
        <div class="menu-mobil__logos">
          <img
            class="menu-mobil__logo-small"
            src="../assets/logotype/logoColoredSmall.svg"
            alt=""
          />

          <img
            class="menu-mobil__logo-big"
            src="../assets/logotype/logoColored.svg"
            alt=""
          />
        </div>

        <p class="menu-mobil__title">О Фонде</p>

        <a class="menu-mobil__link" href="../templates/fundManagement.html"
          >Руководство Фондом</a
        >

        <a class="menu-mobil__link" href="../templates/infoOpening.html"
          >Раскрытие информации</a
        >

        <a class="menu-mobil__link" href="../templates/invest.html"
          >Инвестиционная деятельность</a
        >

        <p class="menu-mobil__title">Клиентам</p>

        <a class="menu-mobil__link" href="../templates/forBusiness.html"
          >Для бизнеса</a
        >

        <a class="menu-mobil__link" href="../templates/main.html#calculator"
          >Калькулятор</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#write-to-us"
          >Написать нам</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#questions-and-answers"
          >Вопросы и ответы</a
        >

        <div class="menu-mobil__phone">
          <a class="menu-mobil__phone-link" href="tel:+78002004766">
            <p class="menu-mobil__phone-number">8 800 200-47-66</p>
          </a>

          <button class="menu-mobil__obratnyy-zvonok">Обратный звонок</button>
        </div>
      </div>

      <div>
        <p class="menu-mobil__copy-right">© 2009-2019 НПФ Ренессанс. Пенсии</p>

        <p class="menu-mobil__copy-right">
          Лицензия № 383/2 от 16 июня 2009 года
        </p>
      </div>

      <button class="menu-mobil__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="call-back call-back__left">
      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Как вас зовут?</p>

            <input
              class="my-form__field"
              type="text"
              name="name"
              tabindex="6"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="7"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="call-back__button-container">
          <button class="my-form__button primary-button" tabindex="7" disabled>
            Отправить
          </button>
        </div>
      </div>

      <button class="call-back__button-hide">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="login-form login-form__hide login-form__scale-1">
      <h1 class="login-form__heading">Вход</h1>

      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="1"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Электронная почта</p>

            <input
              class="my-form__field"
              type="email"
              name="email"
              autocomplete="on"
              tabindex="2"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Пароль</p>

            <input
              class="my-form__field"
              type="text"
              name="password"
              tabindex="3"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="login-form__button-container">
          <button class="my-form__button primary-button" tabindex="4" disabled>
            Продолжить
          </button>
        </div>
      </div>

      <p class="login-form__title">
        Вход для клиентов
        <span class="login-form__title_span"> НПФ "Ренессанс - пенсии"</span>
      </p>

      <p class="login-form__subtitle">
        Нажимая кнопку «Продолжить», вы выражаете согласие на обработку своих
        персональных данных и принимаете условия соглашения
      </p>

      <button class="login-form__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <script src="../js/forBusinnes/businnesCallback.js"></script>
    <script src="../js/forBusinnes/businnesCarousel.js"></script>
    <script src="../js/forBusinnes/businnesTaxPreferences.js"></script>

    <script src="../js/callBack.js"></script>
    <script src="../js/menuMobil.js"></script>
    <script src="../js/loginForm.js"></script>
  </body>
</html>
