<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/generalNpf.css" />
    <link rel="stylesheet" href="../styles/css/headerFooter.css" />
    <link rel="stylesheet" href="../styles/css/main.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__row">
          <div class="header__left-bloc">
            <button class="header__button-lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </button>

            <a class="header__logotype" href="../templates/main.html">
              <img
                class="header__image"
                src="../assets/logotype/logoWhite.svg"
                alt=""
              />

              <img
                class="header__image"
                src="../assets/logotype/logoWhiteSmall.svg"
                alt=""
              />
            </a>

            <div class="header__nav">
              <a class="header__link" href="../templates/aboutFund.html"
                >О фонде</a
              >
              <a class="header__link" href="../templates/invest.html"
                >Инвестиционная деятельность</a
              >
              <a class="header__link" href="../templates/forBusiness.html"
                >Бизнесу</a
              >
              <a class="header__link" href="../templates/supportService.html"
                >Поддержка</a
              >
              <a class="header__link" href="../templates/contacts.html"
                >Контакты</a
              >
            </div>
          </div>

          <div class="header__right-bloc">
            <div class="header__contacts">
              <div class="header__phone">
                <a class="header__phone-link" href="tel:+78002004766">
                  <p class="header__phone-number">8 800 200-47-66</p>
                </a>

                <button class="header__obratnyy-zvonok">Обратный звонок</button>
              </div>
            </div>

            <div class="header__button-switch">
              <div class="header__button-images">
                <img
                  class="header__icon"
                  src="../assets/icons/userColored.svg"
                  alt=""
                />
                <img
                  class="header__icon"
                  src="../assets/icons/userContact.svg"
                  alt=""
                />
              </div>

              <p class="header__button-title">Личный кабинет</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section
        class="top-block"
        style="background-image: url(../assets/images/main/mainTop.jpg)"
      >
        <div class="top-block__container">
          <h1 class="top-block__heading">
            Уверенность в будущем,
            <span class="top-block__heading_span"> доступная каждому</span>
          </h1>
          <h2 class="top-block__subheading">
            Обеспечьте себе стабильность и приступайте
            <span class="top-block__subheading_span">
              к реализации своих самых смелых планов!</span
            >
          </h2>
        </div>
      </section>

      <section class="info">
        <div class="info__head">
          <h1 class="info__heading">
            Ренессанс пенсии входит в число десяти крупнейших негосударственных
            пенсионных фондов России
          </h1>

          <p class="info__subheading">
            По состоянию на 31 марта 2019 фонд ведет более 150 корпоративных
            пенсионных планов, объем резервов которых превышает 18 млрд. рублей.
          </p>
        </div>

        <div class="info__bloc-images">
          <img
            class="info__image"
            src="../assets/images/main/mainGirls.jpg"
            alt=""
          />

          <img
            class="info__image"
            src="../assets/images/main/mainZdanie.jpg"
            alt=""
          />
        </div>

        <div class="info__bloc">
          <div class="info__offer">
            <h1 class="info__offer-heading">Для себя</h1>
            <p class="info__offer-subheading">
              Сохраните уровень дохода после окончания карьеры — оформите
              индивидуальный пенсионный план и формируйте собственную пенсию.
            </p>
            <div class="info__button-container">
              <button class="info__button primary-button">
                Хочу знать больше
              </button>
            </div>
          </div>

          <img
            class="info__images-zdanie"
            src="../assets/images/main/mainZdanie.jpg"
            alt=""
          />

          <div class="info__offer">
            <h1 class="info__offer-heading">Для бизнеса</h1>
            <p class="info__offer-subheading">
              Корпоративные пенсионные программы дополнят соц пакет сотрудников
              и станут долгосрочным инструментом мотивации персонала.
            </p>
            <div class="info__button-container">
              <button class="info__button primary-button">
                Отправить заявку
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="statistics">
        <div class="statistics__container">
          <h2 class="statistics__heading">Фонд в цифрах</h2>

          <div class="statistics__bloc">
            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/calendar.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  17 лет <span class="statistics__span"> на рынке</span>
                </p>
                <p class="statistics__subtitle">Фонд основан в 2002 году</p>
              </div>
            </div>

            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/zvezda.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  Высокий <span class="statistics__span"> рейтинг</span>
                </p>
                <p class="statistics__subtitle">
                  Надежность ruАА- по оценке Эксперт РА
                </p>
              </div>
            </div>

            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/users.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  41 000 <span class="statistics__span"> человек</span>
                </p>
                <p class="statistics__subtitle">
                  участники пенсионной программы
                </p>
              </div>
            </div>

            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/partners.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  150 <span class="statistics__span"> компаний</span>
                </p>
                <p class="statistics__subtitle">
                  заботятся о пенсиях сотрудников
                </p>
              </div>
            </div>

            <div class="statistics__column">
              <img
                class="statistics__icon"
                src="../assets/icons/bank.svg"
                alt=""
              />
              <div>
                <p class="statistics__title">
                  17 млрд <span class="statistics__span"> рублей</span>
                </p>
                <p class="statistics__subtitle">пенсионных резервов в Фонде</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="calculator" class="calculator">
        <div class="calculator__container">
          <h2 class="calculator__heading">Калькулятор</h2>
          <h1 class="calculator__subheading">Рассчитайте будущую пенсию</h1>
          <div class="calculator__bloc">
            <div class="calculator__box">
              <div class="calculator__sliders">
                <div class="slider-block">
                  <div class="slider-block__age">
                    <div class="slider-block__switch">
                      <div class="switch-gender">
                        <label
                          class="switch-gender__man switch-gender__activated"
                        >
                          <input
                            class="switch-gender__field"
                            type="radio"
                            name="gender"
                            value="65"
                          />

                          <p class="switch-gender__title">М</p>
                        </label>

                        <label
                          class="
                            switch-gender__woman switch-gender__not-activated
                          "
                        >
                          <input
                            class="switch-gender__field"
                            type="radio"
                            name="gender"
                            value="60"
                          />

                          <p class="switch-gender__title">Ж</p>
                        </label>
                      </div>
                    </div>

                    <div class="slider-block__age-slider">
                      <div class="slider-block__description">
                        <p class="slider-block__title">Возраст, лет</p>

                        <p class="slider-block__output">32.5</p>
                      </div>

                      <input
                        class="slider-bicolor age-slider"
                        type="range"
                        min="18"
                        max="65"
                        step="1"
                        value="23"
                      />

                      <p class="slider-block__time-invest-inner">
                        Срок накопления 32,5
                      </p>
                    </div>
                  </div>
                  <div class="slider-block__pervonachalnyy-vznos">
                    <div class="slider-block__description">
                      <p class="slider-block__title">
                        Первоначальный взнос, р.
                      </p>

                      <p class="slider-block__output"></p>
                    </div>

                    <input
                      class="slider-bicolor pervonachalnyy-vznos"
                      type="range"
                      min="10000"
                      max="1000000"
                      step="10000"
                      value="500000"
                    />
                  </div>

                  <div class="slider-block__yezhemesyachnyy-vznos">
                    <div class="slider-block__description">
                      <p class="slider-block__title">Ежемесячный взнос, р.</p>

                      <p class="slider-block__output">10 000</p>
                    </div>

                    <input
                      class="slider-bicolor yezhemesyachnyy-vznos"
                      type="range"
                      min="0"
                      max="50000"
                      step="500"
                      value="25000"
                    />
                  </div>

                  <div class="slider-block__srok-vyplaty">
                    <div class="slider-block__description">
                      <p class="slider-block__title">
                        Срок выплаты пенсии, лет
                      </p>

                      <p class="slider-block__output"></p>
                    </div>

                    <input
                      class="slider-bicolor srok-vyplaty"
                      type="range"
                      min="5"
                      max="30"
                      step="1"
                      value="15"
                    />
                  </div>

                  <div class="slider-block__checkbox">
                    <label tabindex="0" role="checkbox" class="r-checkbox">
                      <span class="r-checkbox__checker"></span>

                      <button
                        class="r-checkbox__switch r-checkbox__switch_invisible"
                      ></button>

                      <input
                        id="Checkbox"
                        type="checkbox"
                        class="r-checkbox__input"
                      />

                      <div class="r-checkbox__agree-link">
                        Учитывать социальный налоговый вычет
                      </div>
                    </label>
                  </div>

                  <div class="slider-block__button-container">
                    <button class="slider-block__button primary-button">
                      Оформить договор
                    </button>
                  </div>
                </div>
              </div>
              <div class="pension-info">
                <div class="pension-info__container">
                  <div class="pension-info__v-budushchem">
                    <div class="pension-info__v-budushchem_wrapper">
                      <p class="pension-info__output-pension">0 ₽.</p>

                      <p class="pension-info__description">
                        Пенсия
                        <span class="pension-info__description_span">
                          в будущем</span
                        >
                      </p>
                    </div>
                  </div>

                  <div class="pension-info__box">
                    <div class="pension-info__calculation">
                      <p class="pension-info__output-sum-nakoplen">0 ₽.</p>
                      <p class="pension-info__description">Накоплено</p>
                    </div>

                    <div class="pension-info__calculation">
                      <div class="pension-info__calculation_wrapper">
                        <p class="pension-info__output-social">273 000 ₽.</p>

                        <p class="pension-info__description">
                          Размер соц. вычета
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="calculator__graph-container">
              <div class="grafik">
                <div class="grafik__diagramma">
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                  <div class="grafik__vertical-element"></div>
                </div>
                <div class="grafik__vybor-goda">
                  <p class="grafik__vybrannyy-god">2021</p>
                  <p class="grafik__vybrannyy-god">2024</p>
                  <p class="grafik__vybrannyy-god">2027</p>
                  <p class="grafik__vybrannyy-god">2030</p>
                  <p class="grafik__vybrannyy-god">2033</p>
                  <p class="grafik__vybrannyy-god">2036</p>
                  <p class="grafik__vybrannyy-god">2040</p>
                  <p class="grafik__vybrannyy-god">2043</p>
                </div>
                <div class="grafik__finansovyye-operatsii">
                  <p class="grafik__title">Инвестиционный доход</p>

                  <p class="grafik__title">Ежемесячные взносы</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="calculator-image">
        <div class="calculator-image__container">
          <div class="calculator-image__bloc-images">
            <img
              class="calculator-image__image"
              src="../assets/images/main/mainManBackground.jpg"
              alt=""
            />

            <img
              class="calculator-image__image"
              src="../assets/images/main/mainMan.png"
              alt=""
            />

            <img
              class="calculator-image__image"
              src="../assets/images/main/mainBusinessWork.jpg"
              alt=""
            />
            <div class="calculator-image__attention">
              <p class="calculator-image__description">
                Калькулятор позволяет произвести ориентировочный расчет будущей
                пенсии. Не является офертой.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="news-header">
        <div class="news-header__heading">
          <h1 class="news-header__title">Новости</h1>

          <div class="offset-arrows">
            <div class="offset-arrows__left-arrow">
              <img
                class="
                  offset-arrows__left-image offset-arrows__image-not-visible
                "
                src="../assets/icons/arrowRightColored.svg"
              />

              <img
                class="offset-arrows__left-image"
                src="../assets/icons/arrowRightDark.svg"
              />
            </div>

            <div class="offset-arrows__right-arrow">
              <img
                class="
                  offset-arrows__right-image offset-arrows__image-not-visible
                "
                src="../assets/icons/arrowRightColored.svg"
                alt=""
              />

              <img
                class="offset-arrows__right-image"
                src="../assets/icons/arrowRightDark.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>

      <section class="news">
        <div class="news__tape" style="right: 0px">
          <!-- 2021 -->
          <article class="news__column">
            <a class="news__link" href="../templates/news/38.html"
              >НПФ Сбербанка и НПФ «Ренессанс пенсии» закрыли сделку</a
            >

            <p class="news__date">26 июля 2021 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/37.html"
              >Режим работы Фонда на период с 15 по 18 июня 2021 года</a
            >

            <p class="news__date">15 июня 2021 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/36.html"
              >«АО «НПФ Сбербанка» достиг соглашения о покупке АО НПФ «Ренессанс
              пенсии»</a
            >

            <p class="news__date">01 июня 2021 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/35.html"
              >Режим работы Фонда 7 мая 2021 года</a
            >

            <p class="news__date">07 мая 2021 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/34.html"
              >Режим работы Фонда на период с 04 по 07 мая 2021 года</a
            >

            <p class="news__date">27 апреля 2021 г.</p>
          </article>
          <!-- 2020 -->
          <article class="news__column">
            <a class="news__link" href="../templates/news/33.html"
              >Режим работы Фонда</a
            >

            <p class="news__date">25 мая 2020 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/32.html"
              >Режим работы Фонда на период с 06 по 08 мая 2020 года</a
            >

            <p class="news__date">06 мая 2020 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/31.html"
              >Банк России зарегистрировал Отчет об итогах выпуска ценных бумаг
              Фонда</a
            >

            <p class="news__date">23 апреля 2020 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/30.html"
              >Режим работы Фонда на период с 06 по 30 апреля 2020 года</a
            >

            <p class="news__date">06 апреля 2020 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/29.html"
              >Режим работы Фонда на период с 30 марта по 3 апреля 2020 года</a
            >

            <p class="news__date">27 марта 2020 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/28.html"
              >18 марта 2020 года вступил в силу Федеральный закон N 61-ФЗ "О
              внесении изменений в статью 10 Федерального закона "О
              негосударственных пенсионных фондах" по вопросам назначения
              негосударственных пенсий"</a
            >

            <p class="news__date">24 марта 2020 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/27.html"
              >Совет директоров Фонда 12.02.2020 г. принял решение о порядке и
              об условиях распределения акций Фонда, оставшихся неразмещенными
              на дату внесения в Единый государственный реестр юридических лиц
              записи о государственной регистрации Фонда</a
            >

            <p class="news__date">14 февраля 2020 г.</p>
          </article>
          <!-- 2019 -->
          <article class="news__column">
            <a class="news__link" href="../templates/news/26.html"
              >Рейтинговое агентство «Эксперт РА» повысило рейтинг финансовой
              надежности АО НПФ «Ренессанс пенсии» до уровня ruAA</a
            >

            <p class="news__date">30 декабря 2019 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/25.html"
              >АО НПФ «Ренессанс пенсии» стал лауреатом премии «Финансовая
              Элита»</a
            >

            <p class="news__date">20 декабря 2019 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/24.html"
              >АО НПФ «Ренессанс пенсии» развивает сотрудничество с ВТБ</a
            >

            <p class="news__date">21 июня 2019 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/23.html"
              >Стратегия для пенсионера</a
            >

            <p class="news__date">05 июня 2019 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/22.html"
              >Рейтинговое агентство «Эксперт РА» подтвердило рейтинг финансовой
              надежности АО НПФ «Ренессанс пенсии»</a
            >

            <p class="news__date">04 марта 2019 г.</p>
          </article>
          <!-- 2018 -->
          <article class="news__column">
            <a class="news__link" href="../templates/news/21.html"
              >Сообщение о завершении процедуры реорганизации НПФ
              «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» в форме преобразования в Акционерное
              общество негосударственный пенсионный фонд «Ренессанс пенсии»
            </a>

            <p class="news__date">14 декабря 2018 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/20.html"
              >О согласовании проведения реорганизации НПФ «БЛАГОСОСТОЯНИЕ
              ЭМЭНСИ»</a
            >

            <p class="news__date">06 декабря 2018 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/19.html"
              >Совет НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» принял решение о внесении
              изменений в решение Совета Фонда по вопросу реорганизации Фонда в
              форме преобразования в акционерный пенсионный фонд</a
            >

            <p class="news__date">15 октября 2018 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/18.html"
              >СМЕНА АДРЕСА НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»</a
            >

            <p class="news__date">02 августа 2018 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/17.html"
              >Назначение Исполнительного Директора</a
            >

            <p class="news__date">28 мая 2018 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/16.html"
              >Изменения в руководстве Фонда</a
            >

            <p class="news__date">28 марта 2018 г.</p>
          </article>

          <!-- 2017 -->
          <article class="news__column">
            <a class="news__link" href="../templates/news/15.html"
              >Группа Ренессанс страхование, НПФ «БЛАГОСОСТОЯНИЕ» и Бэринг
              Восток успешно завершили сделку по созданию объединенной страховой
              группы</a
            >

            <p class="news__date">24 ноября 2017 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/14.html"
              >Совет НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» принял решение о внесении
              изменений в решение Совета Фонда по вопросу реорганизации Фонда в
              форме преобразования в акционерный пенсионный фонд
            </a>

            <p class="news__date">07 ноября 2017 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/13.html"
              >Уведомление об аннулировании доверенностей</a
            >

            <p class="news__date">13 октября 2017 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/12.html"
              >Совет НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» принял решение о реорганизации
              Фонда</a
            >

            <p class="news__date">27 сентября 2017 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/11.html"
              >Сообщение о проведении заседания Совета Фонда НПФ «БЛАГОСОСТОЯНИЕ
              ЭМЭНСИ», в повестку дня которого включен вопрос о реорганизации
              НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» в форме преобразования в акционерный
              пенсионный фонд</a
            >

            <p class="news__date">23 августа 2017 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/10.html"
              >Ренессанс Страхование и НПФ «БЛАГОСОСТОЯНИЕ» создают единую
              страховую группу при участии фонда Бэринг Восток</a
            >

            <p class="news__date">06 июля 2017 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/09.html"
              >Переезд офиса НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»</a
            >

            <p class="news__date">15 мая 2017 г.</p>
          </article>
          <!-- 2016 -->
          <article class="news__column">
            <a class="news__link" href="../templates/news/08.html"
              >Эксперт РА подтвердил рейтинг НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» на
              уровне А++</a
            >

            <p class="news__date">07 декабря 2016 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/07.html"
              >НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» вступил в Национальную ассоциацию
              негосударственных пенсионных фондов
            </a>

            <p class="news__date">12 сентября 2016 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/06.html"
              >НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» опубликовал финансовую отчетность в
              соответствии с международными стандартами</a
            >

            <p class="news__date">01 июня 2016 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/05.html"
              >Поздравляем с Праздником Весны!</a
            >

            <p class="news__date">04 марта 2016 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/04.html"
              >НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» подвел итоги инвестиционной
              деятельности за 2015 год.</a
            >

            <p class="news__date">10 февраля 2016 г.</p>
          </article>

          <article class="news__column">
            <a class="news__link" href="../templates/news/03.html"
              >Группа компаний «БЛАГОСОСТОЯНИЕ» приобрела 100% акций
              Акционерного общества «ИНТАЧ СТРАХОВАНИЕ»(INTOUCH)</a
            >

            <p class="news__date">29 января 2016 г.</p>
          </article>
          <!-- 2015 -->
          <article class="news__column">
            <a class="news__link" href="../templates/news/02.html"
              >RAEX (Эксперт РА) подтвердил рейтинг НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»
              на уровне А++
            </a>

            <p class="news__date">10 декабря 2015 г.</p>
          </article>
          <!-- 2014 -->
          <article class="news__column">
            <a class="news__link" href="../templates/news/01.html"
              >«Эксперт РА» (RAEX) подтвердил рейтинг надежности НПФ
              «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» на уровне А++
            </a>

            <p class="news__date">30 декабря 2014 г.</p>
          </article>

          <!-- 2014 -->
        </div>
      </section>

      <footer class="footer">
        <div class="footer__container">
          <div class="footer__header">
            <a class="footer__logotype" href="../templates/main.html">
              <img
                class="footer__logo-big"
                src="../assets/logotype/logoColored.svg"
              />

              <img
                class="footer__logo-small"
                src="../assets/logotype/logoColoredSmall.svg"
              />
            </a>

            <div>
              <img
                class="footer__logos-items"
                src="../assets/icons/logoNapf.svg"
                alt=""
              />

              <img
                class="footer__logos-items"
                src="../assets/icons/logoAeb.svg"
                alt=""
              />

              <img src="../assets/icons/logoExpert.svg" alt="" />
            </div>
          </div>
          <div class="footer__phone">
            <h2 class="footer__phone-number">8 800 200-47-66</h2>
          </div>

          <div class="footer__menu">
            <div class="footer__nav">
              <div class="footer__column">
                <a
                  class="footer__link"
                  href="../templates/supportService.html#write-to-us"
                  >Написать нам</a
                >
                <a
                  class="footer__link"
                  href="../templates/supportService.html#questions-and-answers"
                  >Вопросы и ответы</a
                >
                <a class="footer__link" href="../templates/aboutFund.html"
                  >О Фонде</a
                >
                <a class="footer__link" href="../templates/fundManagement.html"
                  >Руководство Фондом</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/infoOpening.html"
                  >Раскрытие информации</a
                >
                <a class="footer__link" href="../templates/invest.html"
                  >Инвестиционная деятельность
                </a>

                <a class="footer__link" href="../templates/forBusiness.html"
                  >Для бизнеса</a
                >
                <a class="footer__link" href="../templates/main.html#calculator"
                  >Калькулятор</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/news.html"
                  >Новости</a
                >
                <a class="footer__link" href="../templates/taxation.html"
                  >Налогообложение</a
                >
              </div>
            </div>

            <div class="footer__copyright-wrapper">
              <div class="footer__copyright">
                <a
                  class="footer__copyright-link"
                  href="../templates/spisokAktsionerov.html"
                >
                  Список акционеров Фонда и лиц, под контролем либо значительным
                  влиянием которых находится Фонд (соответствует информации,
                  направленной в Банк России 16.03.2021 г. для размещения на
                  официальном сайте Банка России).</a
                >

                <p class="footer__copyright-npf">
                  © 2009-2019 НПФ Ренессанс. Пенсии.
                </p>

                <p class="footer__copyright-license">
                  Лицензия № 383/2 от 16 июня 2009 года
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>

    <section class="menu-mobil menu-mobil__hide">
      <div>
        <div class="menu-mobil__logos">
          <img
            class="menu-mobil__logo-small"
            src="../assets/logotype/logoColoredSmall.svg"
            alt=""
          />

          <img
            class="menu-mobil__logo-big"
            src="../assets/logotype/logoColored.svg"
            alt=""
          />
        </div>

        <p class="menu-mobil__title">О Фонде</p>

        <a class="menu-mobil__link" href="../templates/fundManagement.html"
          >Руководство Фондом</a
        >

        <a class="menu-mobil__link" href="../templates/infoOpening.html"
          >Раскрытие информации</a
        >

        <a class="menu-mobil__link" href="../templates/invest.html"
          >Инвестиционная деятельность</a
        >

        <p class="menu-mobil__title">Клиентам</p>

        <a class="menu-mobil__link" href="../templates/forBusiness.html"
          >Для бизнеса</a
        >

        <a class="menu-mobil__link" href="../templates/main.html#calculator"
          >Калькулятор</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#write-to-us"
          >Написать нам</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#questions-and-answers"
          >Вопросы и ответы</a
        >

        <div class="menu-mobil__phone">
          <a class="menu-mobil__phone-link" href="tel:+78002004766">
            <p class="menu-mobil__phone-number">8 800 200-47-66</p>
          </a>

          <button class="menu-mobil__obratnyy-zvonok">Обратный звонок</button>
        </div>
      </div>

      <div>
        <p class="menu-mobil__copy-right">© 2009-2019 НПФ Ренессанс. Пенсии</p>

        <p class="menu-mobil__copy-right">
          Лицензия № 383/2 от 16 июня 2009 года
        </p>
      </div>

      <button class="menu-mobil__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="call-back call-back__left">
      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Как вас зовут?</p>

            <input
              class="my-form__field"
              type="text"
              name="name"
              tabindex="6"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="7"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="call-back__button-container">
          <button class="my-form__button primary-button" tabindex="7" disabled>
            Отправить
          </button>
        </div>
      </div>

      <button class="call-back__button-hide">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="login-form login-form__hide login-form__scale-1">
      <h1 class="login-form__heading">Вход</h1>

      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="1"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Электронная почта</p>

            <input
              class="my-form__field"
              type="email"
              name="email"
              autocomplete="on"
              tabindex="2"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Пароль</p>

            <input
              class="my-form__field"
              type="text"
              name="password"
              tabindex="3"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="login-form__button-container">
          <button class="my-form__button primary-button" tabindex="4" disabled>
            Продолжить
          </button>
        </div>
      </div>

      <p class="login-form__title">
        Вход для клиентов
        <span class="login-form__title_span"> НПФ "Ренессанс - пенсии"</span>
      </p>

      <p class="login-form__subtitle">
        Нажимая кнопку «Продолжить», вы выражаете согласие на обработку своих
        персональных данных и принимаете условия соглашения
      </p>

      <button class="login-form__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <script src="../js/main/calculateThePension.js"></script>
    <script src="../js/main/mainOffsetArrow.js"></script>

    <script src="../js/callBack.js"></script>
    <script src="../js/menuMobil.js"></script>
    <!-- <script src="../js/loginForm.js"></script> -->
    <script src="../js/loginForm2.js"></script>
  </body>
</html>
