<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/generalNpf.css" />
    <link rel="stylesheet" href="../styles/css/headerFooter.css" />
    <link rel="stylesheet" href="../styles/css/news.css" />

    <title>Document</title>
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__row">
          <div class="header__left-bloc">
            <button class="header__button-lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </button>

            <a class="header__logotype" href="../templates/main.html">
              <img
                class="header__image"
                src="../assets/logotype/logoWhite.svg"
                alt=""
              />

              <img
                class="header__image"
                src="../assets/logotype/logoWhiteSmall.svg"
                alt=""
              />
            </a>

            <div class="header__nav">
              <a class="header__link" href="../templates/aboutFund.html"
                >О фонде</a
              >
              <a class="header__link" href="../templates/invest.html"
                >Инвестиционная деятельность</a
              >
              <a class="header__link" href="../templates/forBusiness.html"
                >Бизнесу</a
              >
              <a class="header__link" href="../templates/supportService.html"
                >Поддержка</a
              >
              <a class="header__link" href="../templates/contacts.html"
                >Контакты</a
              >
            </div>
          </div>

          <div class="header__right-bloc">
            <div class="header__contacts">
              <div class="header__phone">
                <a class="header__phone-link" href="tel:+78002004766">
                  <p class="header__phone-number">8 800 200-47-66</p>
                </a>

                <button class="header__obratnyy-zvonok">Обратный звонок</button>
              </div>
            </div>

            <div class="header__button-switch">
              <div class="header__button-images">
                <img
                  class="header__icon"
                  src="../assets/icons/userColored.svg"
                  alt=""
                />
                <img
                  class="header__icon"
                  src="../assets/icons/userContact.svg"
                  alt=""
                />
              </div>

              <p class="header__button-title">Личный кабинет</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section
        class="top-block"
        style="background-image: url(../assets/images/news/news.jpg)"
      >
        <div class="top-block__container">
          <h1 class="top-block__heading">Новости</h1>
        </div>
      </section>

      <section class="news news__background-white">
        <div class="news__container">
          <div class="switching">
            <div class="switching__list-top-buttons">
              <div class="switching__visible switching__visible_border-white">
                <div class="switching__inner switching__inner_backgr-white">
                  <div class="switching__inner-elem">2021</div>

                  <div class="switching__icon">
                    <img
                      class="switching__image switching__image_rotate-0"
                      src="../assets/icons/news/triangleDark.svg"
                      alt=""
                    />
                  </div>
                </div>

                <div
                  class="switching__white-line switching__white-line_height-1"
                >
                  <div
                    class="switching__black-line switching__black-line_width-50"
                  ></div>

                  <div
                    class="switching__black-line switching__black-line_width-50"
                  ></div>
                </div>

                <div
                  class="
                    switching__bottom-spase
                    switching__bottom-spase_background-fff
                  "
                >
                  <br />
                </div>
              </div>

              <div class="switching__hiding-block switching__hiding-block_hide">
                <div class="switching__duplicate-inner-elem">
                  <p class="switching__duplicate-inner-text">2014</p>

                  <div class="switching__duplicate-white-line">
                    <div
                      class="
                        switching__duplicate-blue-line
                        switching__duplicate-blue-line_background-gray
                      "
                    ></div>
                  </div>
                </div>

                <div class="switching__container">
                  <div class="switching__scrollable-block">
                    <label
                      class="
                        switching__top-button switching__top-button_choosed
                        2021
                      "
                    >
                      2021
                      <input
                        type="radio"
                        class="switching__top-input"
                        value="7"
                      />
                    </label>

                    <label class="switching__top-button 2020">
                      2020
                      <input
                        type="radio"
                        class="switching__top-input"
                        value="6"
                      />
                    </label>

                    <label class="switching__top-button 2019">
                      2019
                      <input
                        type="radio"
                        class="switching__top-input"
                        value="5"
                      />
                    </label>

                    <label class="switching__top-button 2018">
                      2018
                      <input
                        type="radio"
                        class="switching__top-input"
                        value="4"
                      />
                    </label>

                    <label class="switching__top-button 2017">
                      2017
                      <input
                        type="radio"
                        class="switching__top-input"
                        value="3"
                      />
                    </label>

                    <label class="switching__top-button 2016">
                      2016
                      <input
                        type="radio"
                        class="switching__top-input"
                        value="2"
                      />
                    </label>

                    <label class="switching__top-button 2015">
                      2015
                      <input
                        type="radio"
                        class="switching__top-input"
                        value="1"
                      />
                    </label>

                    <label class="switching__top-button 2014">
                      2014
                      <input
                        type="radio"
                        class="switching__top-input"
                        value="0"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="switching__list-bottom-buttons">
              <label
                class="
                  switching__bottom-button switching__bottom-button_choosed
                "
              >
                2021
                <input type="radio" class="switching__bottom-input" value="7" />
              </label>

              <label class="switching__bottom-button">
                2020
                <input type="radio" class="switching__bottom-input" value="6" />
              </label>

              <label class="switching__bottom-button">
                2019
                <input type="radio" class="switching__bottom-input" value="5" />
              </label>

              <label class="switching__bottom-button">
                2018
                <input type="radio" class="switching__bottom-input" value="4" />
              </label>

              <label class="switching__bottom-button">
                2017
                <input type="radio" class="switching__bottom-input" value="3" />
              </label>

              <label class="switching__bottom-button">
                2016
                <input type="radio" class="switching__bottom-input" value="2" />
              </label>

              <label class="switching__bottom-button">
                2015
                <input type="radio" class="switching__bottom-input" value="1" />
              </label>

              <label class="switching__bottom-button">
                2014
                <input type="radio" class="switching__bottom-input" value="0" />
              </label>
            </div>
          </div>

          <div class="news__row">
            <div class="news__list">
              <div class="news__block-articles block-article__2014">
                <article class="news__column">
                  <a class="news__link" href="../templates/news/01.html"
                    >«Эксперт РА» (RAEX) подтвердил рейтинг надежности НПФ
                    «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» на уровне А++
                  </a>

                  <p class="news__date">30 декабря 2014 г.</p>
                </article>
              </div>

              <div class="news__block-articles block-article__2015">
                <article class="news__column">
                  <a class="news__link" href="../templates/news/02.html"
                    >RAEX (Эксперт РА) подтвердил рейтинг НПФ «БЛАГОСОСТОЯНИЕ
                    ЭМЭНСИ» на уровне А++
                  </a>

                  <p class="news__date">10 декабря 2015 г.</p>
                </article>
              </div>

              <div class="news__block-articles block-article__2016">
                <article class="news__column">
                  <a class="news__link" href="../templates/news/08.html"
                    >Эксперт РА подтвердил рейтинг НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»
                    на уровне А++</a
                  >

                  <p class="news__date">07 декабря 2016 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/07.html"
                    >НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» вступил в Национальную
                    ассоциацию негосударственных пенсионных фондов
                  </a>

                  <p class="news__date">12 сентября 2016 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/06.html"
                    >НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» опубликовал финансовую
                    отчетность в соответствии с международными стандартами</a
                  >

                  <p class="news__date">01 июня 2016 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/05.html"
                    >Поздравляем с Праздником Весны!</a
                  >

                  <p class="news__date">04 марта 2016 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/04.html"
                    >НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» подвел итоги инвестиционной
                    деятельности за 2015 год.</a
                  >

                  <p class="news__date">10 февраля 2016 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/03.html"
                    >Группа компаний «БЛАГОСОСТОЯНИЕ» приобрела 100% акций
                    Акционерного общества «ИНТАЧ СТРАХОВАНИЕ»(INTOUCH)</a
                  >

                  <p class="news__date">29 января 2016 г.</p>
                </article>
              </div>

              <div class="news__block-articles block-article__2017">
                <article class="news__column">
                  <a class="news__link" href="../templates/news/15.html"
                    >Группа Ренессанс страхование, НПФ «БЛАГОСОСТОЯНИЕ» и Бэринг
                    Восток успешно завершили сделку по созданию объединенной
                    страховой группы</a
                  >

                  <p class="news__date">24 ноября 2017 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/14.html"
                    >Совет НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» принял решение о внесении
                    изменений в решение Совета Фонда по вопросу реорганизации
                    Фонда в форме преобразования в акционерный пенсионный фонд
                  </a>

                  <p class="news__date">07 ноября 2017 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/13.html"
                    >Уведомление об аннулировании доверенностей</a
                  >

                  <p class="news__date">13 октября 2017 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/12.html"
                    >Совет НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» принял решение о
                    реорганизации Фонда</a
                  >

                  <p class="news__date">27 сентября 2017 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/11.html"
                    >Сообщение о проведении заседания Совета Фонда НПФ
                    «БЛАГОСОСТОЯНИЕ ЭМЭНСИ», в повестку дня которого включен
                    вопрос о реорганизации НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» в форме
                    преобразования в акционерный пенсионный фонд</a
                  >

                  <p class="news__date">23 августа 2017 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/10.html"
                    >Ренессанс Страхование и НПФ «БЛАГОСОСТОЯНИЕ» создают единую
                    страховую группу при участии фонда Бэринг Восток</a
                  >

                  <p class="news__date">06 июля 2017 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/09.html"
                    >Переезд офиса НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»</a
                  >

                  <p class="news__date">15 мая 2017 г.</p>
                </article>
              </div>

              <div class="news__block-articles block-article__2018">
                <article class="news__column">
                  <a class="news__link" href="../templates/news/21.html"
                    >Сообщение о завершении процедуры реорганизации НПФ
                    «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» в форме преобразования в Акционерное
                    общество негосударственный пенсионный фонд «Ренессанс
                    пенсии»
                  </a>

                  <p class="news__date">14 декабря 2018 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/20.html"
                    >О согласовании проведения реорганизации НПФ «БЛАГОСОСТОЯНИЕ
                    ЭМЭНСИ»</a
                  >

                  <p class="news__date">06 декабря 2018 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/19.html"
                    >Совет НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» принял решение о внесении
                    изменений в решение Совета Фонда по вопросу реорганизации
                    Фонда в форме преобразования в акционерный пенсионный
                    фонд</a
                  >

                  <p class="news__date">15 октября 2018 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/18.html"
                    >СМЕНА АДРЕСА НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»</a
                  >

                  <p class="news__date">02 августа 2018 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/17.html"
                    >Назначение Исполнительного Директора</a
                  >

                  <p class="news__date">28 мая 2018 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/16.html"
                    >Изменения в руководстве Фонда</a
                  >

                  <p class="news__date">28 марта 2018 г.</p>
                </article>
              </div>

              <div class="news__block-articles block-article__2019">
                <article class="news__column">
                  <a class="news__link" href="../templates/news/26.html"
                    >Рейтинговое агентство «Эксперт РА» повысило рейтинг
                    финансовой надежности АО НПФ «Ренессанс пенсии» до уровня
                    ruAA</a
                  >

                  <p class="news__date">30 декабря 2019 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/25.html"
                    >АО НПФ «Ренессанс пенсии» стал лауреатом премии «Финансовая
                    Элита»</a
                  >

                  <p class="news__date">20 декабря 2019 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/24.html"
                    >АО НПФ «Ренессанс пенсии» развивает сотрудничество с ВТБ</a
                  >

                  <p class="news__date">21 июня 2019 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/23.html"
                    >Стратегия для пенсионера</a
                  >

                  <p class="news__date">05 июня 2019 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/22.html"
                    >Рейтинговое агентство «Эксперт РА» подтвердило рейтинг
                    финансовой надежности АО НПФ «Ренессанс пенсии»</a
                  >

                  <p class="news__date">04 марта 2019 г.</p>
                </article>
              </div>

              <div class="news__block-articles block-article__2020">
                <article class="news__column">
                  <a class="news__link" href="../templates/news/33.html"
                    >Режим работы Фонда</a
                  >

                  <p class="news__date">25 мая 2020 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/32.html"
                    >Режим работы Фонда на период с 06 по 08 мая 2020 года</a
                  >

                  <p class="news__date">06 мая 2020 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/31.html"
                    >Банк России зарегистрировал Отчет об итогах выпуска ценных
                    бумаг Фонда</a
                  >

                  <p class="news__date">23 апреля 2020 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/30.html"
                    >Режим работы Фонда на период с 06 по 30 апреля 2020 года</a
                  >

                  <p class="news__date">06 апреля 2020 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/29.html"
                    >Режим работы Фонда на период с 30 марта по 3 апреля 2020
                    года</a
                  >

                  <p class="news__date">27 марта 2020 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/28.html"
                    >18 марта 2020 года вступил в силу Федеральный закон N 61-ФЗ
                    "О внесении изменений в статью 10 Федерального закона "О
                    негосударственных пенсионных фондах" по вопросам назначения
                    негосударственных пенсий"</a
                  >

                  <p class="news__date">24 марта 2020 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/27.html"
                    >Совет директоров Фонда 12.02.2020 г. принял решение о
                    порядке и об условиях распределения акций Фонда, оставшихся
                    неразмещенными на дату внесения в Единый государственный
                    реестр юридических лиц записи о государственной регистрации
                    Фонда</a
                  >

                  <p class="news__date">14 февраля 2020 г.</p>
                </article>
              </div>

              <div class="news__block-articles block-article__2021">
                <article class="news__column">
                  <a class="news__link" href="../templates/news/38.html"
                    >НПФ Сбербанка и НПФ «Ренессанс пенсии» закрыли сделку</a
                  >

                  <p class="news__date">26 июля 2021 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/37.html"
                    >Режим работы Фонда на период с 15 по 18 июня 2021 года</a
                  >

                  <p class="news__date">15 июня 2021 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/36.html"
                    >«АО «НПФ Сбербанка» достиг соглашения о покупке АО НПФ
                    «Ренессанс пенсии»</a
                  >

                  <p class="news__date">01 июня 2021 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/35.html"
                    >Режим работы Фонда 7 мая 2021 года</a
                  >

                  <p class="news__date">07 мая 2021 г.</p>
                </article>

                <article class="news__column">
                  <a class="news__link" href="../templates/news/34.html"
                    >Режим работы Фонда на период с 04 по 07 мая 2021 года</a
                  >

                  <p class="news__date">27 апреля 2021 г.</p>
                </article>
              </div>
            </div>

            <div class="news__contact">
              <p class="news__contact_header">Контакты пресс-службы</p>

              <p class="news__contact_adress">
                115114, Россия, Москва, Дербеневская набережная, 7, стр. 22,
                подъезд B, 3 этаж
              </p>

              <p class="news__contact_phone">Телефон: 8 (495) 933-47-66</p>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__container">
          <div class="footer__header">
            <a class="footer__logotype" href="../templates/main.html">
              <img
                class="footer__logo-big"
                src="../assets/logotype/logoColored.svg"
              />

              <img
                class="footer__logo-small"
                src="../assets/logotype/logoColoredSmall.svg"
              />
            </a>

            <div>
              <img
                class="footer__logos-items"
                src="../assets/icons/logoNapf.svg"
                alt=""
              />

              <img
                class="footer__logos-items"
                src="../assets/icons/logoAeb.svg"
                alt=""
              />

              <img src="../assets/icons/logoExpert.svg" alt="" />
            </div>
          </div>
          <div class="footer__phone">
            <h2 class="footer__phone-number">8 800 200-47-66</h2>
          </div>

          <div class="footer__menu">
            <div class="footer__nav">
              <div class="footer__column">
                <a
                  class="footer__link"
                  href="../templates/supportService.html#write-to-us"
                  >Написать нам</a
                >
                <a
                  class="footer__link"
                  href="../templates/supportService.html#questions-and-answers"
                  >Вопросы и ответы</a
                >
                <a class="footer__link" href="../templates/aboutFund.html"
                  >О Фонде</a
                >
                <a class="footer__link" href="../templates/fundManagement.html"
                  >Руководство Фондом</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/infoOpening.html"
                  >Раскрытие информации</a
                >
                <a class="footer__link" href="../templates/invest.html"
                  >Инвестиционная деятельность
                </a>

                <a class="footer__link" href="../templates/forBusiness.html"
                  >Для бизнеса</a
                >
                <a class="footer__link" href="../templates/main.html#calculator"
                  >Калькулятор</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/news.html"
                  >Новости</a
                >
                <a class="footer__link" href="../templates/taxation.html"
                  >Налогообложение</a
                >
              </div>
            </div>

            <div class="footer__copyright-wrapper">
              <div class="footer__copyright">
                <a
                  class="footer__copyright-link"
                  href="../templates/spisokAktsionerov.html"
                >
                  Список акционеров Фонда и лиц, под контролем либо значительным
                  влиянием которых находится Фонд (соответствует информации,
                  направленной в Банк России 16.03.2021 г. для размещения на
                  официальном сайте Банка России).</a
                >

                <p class="footer__copyright-npf">
                  © 2009-2019 НПФ Ренессанс. Пенсии.
                </p>

                <p class="footer__copyright-license">
                  Лицензия № 383/2 от 16 июня 2009 года
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>

    <section class="menu-mobil menu-mobil__hide">
      <div>
        <div class="menu-mobil__logos">
          <img
            class="menu-mobil__logo-small"
            src="../assets/logotype/logoColoredSmall.svg"
            alt=""
          />

          <img
            class="menu-mobil__logo-big"
            src="../assets/logotype/logoColored.svg"
            alt=""
          />
        </div>

        <p class="menu-mobil__title">О Фонде</p>

        <a class="menu-mobil__link" href="../templates/fundManagement.html"
          >Руководство Фондом</a
        >

        <a class="menu-mobil__link" href="../templates/infoOpening.html"
          >Раскрытие информации</a
        >

        <a class="menu-mobil__link" href="../templates/invest.html"
          >Инвестиционная деятельность</a
        >

        <p class="menu-mobil__title">Клиентам</p>

        <a class="menu-mobil__link" href="../templates/forBusiness.html"
          >Для бизнеса</a
        >

        <a class="menu-mobil__link" href="../templates/main.html#calculator"
          >Калькулятор</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#write-to-us"
          >Написать нам</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#questions-and-answers"
          >Вопросы и ответы</a
        >

        <div class="menu-mobil__phone">
          <a class="menu-mobil__phone-link" href="tel:+78002004766">
            <p class="menu-mobil__phone-number">8 800 200-47-66</p>
          </a>

          <button class="menu-mobil__obratnyy-zvonok">Обратный звонок</button>
        </div>
      </div>

      <div>
        <p class="menu-mobil__copy-right">© 2009-2019 НПФ Ренессанс. Пенсии</p>

        <p class="menu-mobil__copy-right">
          Лицензия № 383/2 от 16 июня 2009 года
        </p>
      </div>

      <button class="menu-mobil__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="call-back call-back__left">
      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Как вас зовут?</p>

            <input
              class="my-form__field"
              type="text"
              name="name"
              tabindex="6"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="7"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="call-back__button-container">
          <button class="my-form__button primary-button" tabindex="7" disabled>
            Отправить
          </button>
        </div>
      </div>

      <button class="call-back__button-hide">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="login-form login-form__hide login-form__scale-1">
      <h1 class="login-form__heading">Вход</h1>

      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="1"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Электронная почта</p>

            <input
              class="my-form__field"
              type="email"
              name="email"
              autocomplete="on"
              tabindex="2"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Пароль</p>

            <input
              class="my-form__field"
              type="text"
              name="password"
              tabindex="3"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="login-form__button-container">
          <button class="my-form__button primary-button" tabindex="4" disabled>
            Продолжить
          </button>
        </div>
      </div>

      <p class="login-form__title">
        Вход для клиентов
        <span class="login-form__title_span"> НПФ "Ренессанс - пенсии"</span>
      </p>

      <p class="login-form__subtitle">
        Нажимая кнопку «Продолжить», вы выражаете согласие на обработку своих
        персональных данных и принимаете условия соглашения
      </p>

      <button class="login-form__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <script src="../js/news/newsSwitchingButton.js"></script>

    <script src="../js/callBack.js"></script>
    <script src="../js/menuMobil.js"></script>
    <script src="../js/loginForm.js"></script>
  </body>
</html>
