<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/generalNpf.css" />
    <link rel="stylesheet" href="../styles/css/headerFooter.css" />
    <link rel="stylesheet" href="../styles/css/supportService.css" />
    <title>Document</title>
  </head>

  <body>
    <!-- header -->
    <header class="header">
      <div class="header__container">
        <div class="header__row">
          <div class="header__left-bloc">
            <button class="header__button-lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </button>

            <a class="header__logotype" href="../templates/main.html">
              <img
                class="header__image"
                src="../assets/logotype/logoWhite.svg"
                alt=""
              />

              <img
                class="header__image"
                src="../assets/logotype/logoWhiteSmall.svg"
                alt=""
              />
            </a>

            <div class="header__nav">
              <a class="header__link" href="../templates/aboutFund.html"
                >О фонде</a
              >
              <a class="header__link" href="../templates/invest.html"
                >Инвестиционная деятельность</a
              >
              <a class="header__link" href="../templates/forBusiness.html"
                >Бизнесу</a
              >
              <a class="header__link" href="../templates/supportService.html"
                >Поддержка</a
              >
              <a class="header__link" href="../templates/contacts.html"
                >Контакты</a
              >
            </div>
          </div>

          <div class="header__right-bloc">
            <div class="header__contacts">
              <div class="header__phone">
                <a class="header__phone-link" href="tel:+78002004766">
                  <p class="header__phone-number">8 800 200-47-66</p>
                </a>

                <button class="header__obratnyy-zvonok">Обратный звонок</button>
              </div>
            </div>

            <div class="header__button-switch">
              <div class="header__button-images">
                <img
                  class="header__icon"
                  src="../assets/icons/userColored.svg"
                  alt=""
                />
                <img
                  class="header__icon"
                  src="../assets/icons/userContact.svg"
                  alt=""
                />
              </div>

              <p class="header__button-title">Личный кабинет</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header -->

    <main class="main-keeper-handler">
      <section
        class="top-block"
        style="
          background-image: url(../assets/images/supportService/supportService.jpg);
        "
      >
        <div class="top-block__container">
          <h1 class="top-block__heading">Поддержка</h1>
        </div>
      </section>

      <section id="questions-and-answers" class="questions-answers">
        <h1 class="questions-answers__heading">Вопросы и ответы</h1>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Могу ли я перевести в АО НПФ «Ренессанс пенсии» пенсионные
              накопления (накопительную пенсию)?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              АО НПФ «Ренессанс пенсии» в настоящий момент не занимается
              управлением накопительной части государственной пенсии,
              ориентирован на работу по пенсионным программам в рамках
              негосударственного пенсионного обеспечения.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              В чем преимущества участия в пенсионной программе над долгосрочным
              вкладом в банке?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Участникам предоставляется возможность увеличения собственных
              вложенных средств за счет инвестиционного дохода и взносов
              компании. Софинансирование компании, предусмотренное большинством
              пенсионных программ, существенно увеличивает вклад сотрудника.
            </p>
            <p class="expanding__paragraph">
              Участникам пенсионных программ предоставляются налоговые льготы.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Какие гарантии того, что Фонд выполнит свои обязательства?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Фонд отвечает по своим обязательствам всем принадлежащим ему
              имуществом в соответствии с Федеральным законом от 07.05.1998
              №75-ФЗ «О негосударственных пенсионных фондах». За деятельностью
              Фонда осуществляется жесткий контроль со стороны Банка России.
              Специализированный депозитарий осуществляет ежедневный контроль
              над составом инвестиционного портфеля Фонда. При нарушении
              законодательно установленных требований к инвестированию,
              специализированный депозитарий незамедлительно информирует об этом
              Банк России. По закону Фонд должен проходить ежегодные независимые
              аудиторские и актуарные проверки. Данные таких проверок,
              результаты деятельности Фонда, публикуемые в открытом доступе на
              сайте Банка России, позволяют корпоративным клиентам и частным
              лицам получать достоверную информацию о финансовом состоянии
              Фонда.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">Что такое страховой резерв?</h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Страховой резерв - это средства, формируемые Фондом для
              обеспечения дополнительных гарантий выполнения долгосрочных
              обязательств перед участниками. Страховой резерв учитывается
              отдельно от собственных средств Фонда и не используется для
              покрытия расходов Фонда. В соответствии с законодательством РФ
              страховой резерв Фонда должен составлять не менее 5% от резерва
              покрытия пенсионных обязательств.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Как начисляется инвестиционный доход?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Доход рассчитывается Фондом ежегодно по итогам инвестирования
              пенсионных резервов за истекший год. Величина инвестиционного
              дохода по каждому отдельному счету зависит от периода
              инвестирования средств в течение года. АО НПФ «Ренессанс пенсии»
              ежегодно отчитывается перед участниками о состоянии их пенсионных
              счетов и начисленном инвестиционном доходе. Информацию об
              инвестициях за прошедший год участники могут найти в личном
              кабинете на сайте Фонда или позвонив по телефону
              <a class="expanding__link" href="#">горячей линии.</a>
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Какие налоги уплачиваются в связи с участием в пенсионной
              программе?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <div>
              <p class="questions-answers__paragraph">
                Порядок налогообложения при выплате пенсий и выкупных сумм:
                <!---->
              </p>
              <div class="questions-answers__table-block">
                <div class="questions-answers__table-container">
                  <table class="questions-answers__table-common">
                    <tr class="questions-answers__table-row">
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          <span class="questions-answers__cell-heading"
                            >Пенсионные суммы за счет взносов компании</span
                          >
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          <span class="questions-answers__cell-heading"
                            >Выкупная сумма</span
                          >
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          <span class="questions-answers__cell-heading"
                            >Пенсия</span
                          >
                          <!---->
                        </p>
                      </td>
                    </tr>
                    <tr class="questions-answers__table-row">
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          Взносы
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          НДФЛ
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          НДФЛ
                          <!---->
                        </p>
                      </td>
                    </tr>
                    <tr class="questions-answers__table-row">
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          Инвестиционный доход
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          НДФЛ
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          НДФЛ
                          <!---->
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <p class="questions-answers__cell-text"><br /></p>
              <div class="questions-answers__table-block">
                <div class="questions-answers__table-container">
                  <table class="questions-answers__table-common">
                    <tr class="questions-answers__table-row">
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          <span class="questions-answers__cell-heading"
                            >Пенсионные суммы за счет взносов участника</span
                          >
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          <span class="questions-answers__cell-heading"
                            >Выкупная сумма</span
                          >
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          <span class="questions-answers__cell-heading"
                            >Пенсия</span
                          >
                          <!---->
                        </p>
                      </td>
                    </tr>
                    <tr class="questions-answers__table-row">
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          Взносы
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          Удерживается сумма НДФЛ, соответствующая социальному
                          налоговому вычету за период участия
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          НДФЛ не удерживается *
                          <!---->
                        </p>
                      </td>
                    </tr>
                    <tr class="questions-answers__table-row">
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          Инвестиционный доход
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          НДФЛ
                          <!---->
                        </p>
                      </td>
                      <td class="questions-answers__table-cell">
                        <p class="questions-answers__cell-text">
                          НДФЛ не удерживается *
                          <!---->
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <p class="questions-answers__cell-text">
                * Независимо от факта получения / неполучения социального
                налогового вычета
                <!---->
              </p>
              <p class="questions-answers__paragraph">
                Участникам пенсионных программ предоставляются налоговые льготы
                - возможность получить социальный налоговый вычет в размере 13%
                от суммы уплаченных взносов по личному договору
                негосударственного пенсионного обеспечения (максимальный размер
                суммы взносов для получения налогового вычета – 120 000
                рублей/год).
                <!---->
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="pension-programs">
        <h1 class="pension-programs__heading">Пенсионные программы</h1>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Ранее пенсионную программу нашей компании реализовывал НПФ
              «БЛАГОСОСТОЯНИЕ ЭМЭНСИ», а теперь мои пенсионные суммы находятся в
              АО НПФ «Ренессанс пенсии». Что для меня изменилось в связи с этим?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              АО НПФ «Ренессанс пенсии» создано в результате реорганизации
              некоммерческой организации Негосударственного пенсионного фонда
              «БЛАГОСОСТОЯНИЕ ЭМЭНСИ» в форме преобразования в акционерный
              пенсионный фонд в соответствии с Федеральным законом от 28.12.2013
              № 410-ФЗ «О внесении изменений в Федеральный закон «О
              негосударственных пенсионных фондах» и отдельные законодательные
              акты Российской Федерации». К АО НПФ «Ренессанс пенсии» в порядке
              правопреемства перешли в полном объеме все права и обязанности НПФ
              «БЛАГОСОСТОЯНИЕ ЭМЭНСИ». Реорганизация Фонда не требует
              переподписания каких-либо документов.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Я являюсь сотрудником компании, реализующей пенсионную программу в
              партнерстве с АО НПФ «Ренессанс пенсии». Где я могу получить
              информацию о пенсионной программе?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              О деталях текущей программы можно узнать в Фонде по телефону
              горячей линии, на интернет-сайте в личном кабинете участника, а
              также в отделе кадров Вашей компании.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Как узнать размер баланса на моем пенсионном счете и сумму
              средств, перечисленных в мою пользу компании?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Вы можете получить данную информацию:
            </p>
            <p class="expanding__paragraph expanding__paragraph_before">
              из электронной выписки в личном кабинете (обновляется регулярно,
              по мере зачисления на Ваш счет очередных пенсионных взносов).
            </p>

            <p class="expanding__paragraph expanding__paragraph_before">
              подключив бесплатный сервис
              <a class="expanding__link" href="#"> CМС-оповещений</a> о балансе
              и поступлениях на счет.
            </p>

            <p class="expanding__paragraph expanding__paragraph_before">
              позвонив по телефону
              <a class="expanding__link" href="#">горячей линии</a>.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Что произойдет с пенсионными суммами в случае смерти?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              В случае наступления смерти участника до начала выплаты пенсии
              права на пенсионные суммы передаются правопреемнику или, в случае
              если правопреемник не назначен, наследуются в соответствии с
              законодательством Российской Федерации.
            </p>

            <p class="expanding__paragraph">
              В случае наступления смерти участника после начала выплаты пенсии,
              права на оставшиеся пенсионные суммы передаются правопреемнику или
              наследуются, если это предусмотрено выбранным типом пенсии, в
              течение всего периода для срочных схем выплаты пенсий и
              гарантированного периода для пожизненных схем выплаты пенсий.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Я являюсь участником пенсионной программы Фонда. Где я буду
              получать свою пенсию?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Негосударственная пенсия, размер и периодичность которой
              согласуется с Фондом в момент Вашего выхода на пенсию, будет
              выплачиваться Фондом на Ваш банковский счет.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              В какой валюте уплачиваются взносы, осуществляются выплаты
              пенсионных сумм?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Все денежные взаиморасчеты осуществляются в рублях РФ. При
              изменении экономической ситуации компания и Фонд оставляют за
              собой право корректировать пенсионную программу таким образом,
              чтобы при соблюдении требований законодательства обеспечить
              максимальную защиту накоплений участников.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Я являюсь сотрудником компании, реализующей пенсионную программу с
              АО НПФ «Ренессанс пенсии». Каков размер моей будущей пенсии?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Размер пенсии не может быть определен заранее и зависит от размера
              взносов, срока участия в пенсионной программе, возраста выхода на
              пенсию, роста заработной платы и инвестиционного дохода, вида
              пенсии. Вид пенсии выбирается участником при достижении пенсионных
              оснований. Приблизительный расчет будущей пенсии можно рассчитать,
              воспользовавшись пенсионным калькулятором на сайте Фонда.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Что такое пожизненная пенсия? Что такое срочная пенсия?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Пожизненная пенсия выплачивается с момента достижения участником
              пенсионных оснований и до момента смерти.
            </p>

            <p class="expanding__paragraph">
              Для получения срочной пенсии необходимо выбрать срок, в течение
              которого она будет выплачиваться (не менее 5 лет).
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Что будет, если я выйду из пенсионной программы?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Участие в пенсионной программе личными взносами является
              добровольным и зависит только от Вашего желания. При выходе из
              пенсионной программы до наступления пенсионных оснований, можно
              воспользоваться правом на получение Выкупной Суммы. Выкупная Сумма
              рассчитывается в соответствии с условиями договора
              негосударственного пенсионного обеспечения за вычетом НДФЛ,
              предусмотренного действующим законодательством РФ.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Что такое отложенное право/вестинг?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              При выполнении условий отложенного права (или правил вестинга)
              участники пенсионной программы получают право распоряжаться
              пенсионными суммами, сформированными в их пользу за счет компании.
              Правила вестинга определяются компанией в период разработки
              пенсионной программы и могут включать, например, определенный срок
              участия в пенсионной программе или количество лет стажа в
              компании.
            </p>
          </div>
        </div>

        <div class="expanding">
          <div class="expanding__row">
            <h2 class="expanding__title">
              Что произойдет с моими пенсионными суммами в рамках корпоративного
              договора, если я выйду из пенсионной программы, но буду продолжать
              осуществлять взносы самостоятельно, как частное лицо?
            </h2>

            <button class="expanding__button">
              <img
                class="expanding__plus expanding__plus_hide-hiding-block"
                src="../assets/icons/supportService/crossPlus.svg"
                alt=""
              />

              <img
                class="expanding__minus expanding__minus_hide-hiding-block"
                src="../assets/icons/supportService/crossMinus.svg"
                alt=""
              />
            </button>
          </div>

          <div class="expanding__hiding-block expanding__hiding-block_hidden">
            <p class="expanding__paragraph">
              Если участник выходит из пенсионной программы, но намерен
              продолжить сотрудничество с Фондом, как частное лицо, необходимо
              заключить индивидуальный договор с Фондом. Пенсионные суммы,
              сформированные в рамках корпоративного договора, переводятся на
              индивидуальный договор с учетом правил вестинга. Таким образом,
              Фонд объединяет в одном договоре свои обязательства перед
              участником. Новые пенсионные суммы учитываются на счетах
              индивидуального договора.
            </p>
          </div>
        </div>
      </section>

      <section id="write-to-us" class="support-form">
        <div class="support-form__container">
          <div class="support-form__content">
            <div class="support-form__customer-service">
              <h1 class="support-form__header">
                Клиентская <span class="support-form__span">служба</span>
              </h1>
              <a class="support-form__phone-support" href="tel:+78002004766"
                >8 800 200-47-66</a
              >
              <p class="support-form__phone-title">звонок бесплатный</p>
            </div>

            <div class="support-form__form">
              <div class="my-form">
                <div class="my-form__label-container">
                  <label class="my-form__label">
                    <p class="my-form__title">Как вас зовут?</p>

                    <input
                      class="my-form__field"
                      type="text"
                      name="name"
                      tabindex="12"
                    />

                    <p class="my-form__error"></p>
                  </label>
                </div>

                <div class="my-form__label-container">
                  <label class="my-form__label">
                    <p class="my-form__title">Телефон</p>

                    <input
                      class="my-form__field tel-number"
                      type="number"
                      name="phone"
                      autocomplete="on"
                      tabindex="13"
                    />

                    <p class="my-form__error"></p>
                  </label>
                </div>

                <div class="my-form__label-container">
                  <label class="my-form__label">
                    <p class="my-form__title">Электронная почта</p>

                    <input
                      class="my-form__field"
                      type="email"
                      name="email"
                      autocomplete="on"
                      tabindex="14"
                    />

                    <p class="my-form__error"></p>
                  </label>
                </div>

                <div class="my-form__label-container">
                  <label class="my-form__label">
                    <p class="my-form__title">Название компании</p>

                    <input
                      class="my-form__field"
                      type="text"
                      name="company"
                      tabindex="15"
                    />

                    <p class="my-form__error"></p>
                  </label>
                </div>

                <div class="my-form__label-container">
                  <label class="my-form__label">
                    <p class="my-form__title">Сообщение</p>

                    <input
                      class="my-form__field"
                      type="text"
                      name="message"
                      tabindex="16"
                    />
                  </label>
                </div>

                <div class="my-form__button-container">
                  <button
                    class="my-form__button primary-button"
                    tabindex="17"
                    disabled
                  >
                    Оставить заявку
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- footer -->
      <footer class="footer">
        <div class="footer__container">
          <div class="footer__header">
            <a class="footer__logotype" href="../templates/main.html">
              <img
                class="footer__logo-big"
                src="../assets/logotype/logoColored.svg"
              />

              <img
                class="footer__logo-small"
                src="../assets/logotype/logoColoredSmall.svg"
              />
            </a>

            <div>
              <img
                class="footer__logos-items"
                src="../assets/icons/logoNapf.svg"
                alt=""
              />

              <img
                class="footer__logos-items"
                src="../assets/icons/logoAeb.svg"
                alt=""
              />

              <img src="../assets/icons/logoExpert.svg" alt="" />
            </div>
          </div>
          <div class="footer__phone">
            <h2 class="footer__phone-number">8 800 200-47-66</h2>
          </div>

          <div class="footer__menu">
            <div class="footer__nav">
              <div class="footer__column">
                <a
                  class="footer__link"
                  href="../templates/supportService.html#write-to-us"
                  >Написать нам</a
                >
                <a
                  class="footer__link"
                  href="../templates/supportService.html#questions-and-answers"
                  >Вопросы и ответы</a
                >
                <a class="footer__link" href="../templates/aboutFund.html"
                  >О Фонде</a
                >
                <a class="footer__link" href="../templates/fundManagement.html"
                  >Руководство Фондом</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/infoOpening.html"
                  >Раскрытие информации</a
                >
                <a class="footer__link" href="../templates/invest.html"
                  >Инвестиционная деятельность
                </a>

                <a class="footer__link" href="../templates/forBusiness.html"
                  >Для бизнеса</a
                >
                <a class="footer__link" href="../templates/main.html#calculator"
                  >Калькулятор</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/news.html"
                  >Новости</a
                >
                <a class="footer__link" href="../templates/taxation.html"
                  >Налогообложение</a
                >
              </div>
            </div>

            <div class="footer__copyright-wrapper">
              <div class="footer__copyright">
                <a
                  class="footer__copyright-link"
                  href="../templates/spisokAktsionerov.html"
                >
                  Список акционеров Фонда и лиц, под контролем либо значительным
                  влиянием которых находится Фонд (соответствует информации,
                  направленной в Банк России 16.03.2021 г. для размещения на
                  официальном сайте Банка России).</a
                >

                <p class="footer__copyright-npf">
                  © 2009-2019 НПФ Ренессанс. Пенсии.
                </p>

                <p class="footer__copyright-license">
                  Лицензия № 383/2 от 16 июня 2009 года
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer -->
    </main>

    <!-- menu-mobil -->
    <section class="menu-mobil menu-mobil__hide">
      <div>
        <div class="menu-mobil__logos">
          <img
            class="menu-mobil__logo-small"
            src="../assets/logotype/logoColoredSmall.svg"
            alt=""
          />

          <img
            class="menu-mobil__logo-big"
            src="../assets/logotype/logoColored.svg"
            alt=""
          />
        </div>

        <p class="menu-mobil__title">О Фонде</p>

        <a class="menu-mobil__link" href="../templates/fundManagement.html"
          >Руководство Фондом</a
        >

        <a class="menu-mobil__link" href="../templates/infoOpening.html"
          >Раскрытие информации</a
        >

        <a class="menu-mobil__link" href="../templates/invest.html"
          >Инвестиционная деятельность</a
        >

        <p class="menu-mobil__title">Клиентам</p>

        <a class="menu-mobil__link" href="../templates/forBusiness.html"
          >Для бизнеса</a
        >

        <a class="menu-mobil__link" href="../templates/main.html#calculator"
          >Калькулятор</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#write-to-us"
          >Написать нам</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#questions-and-answers"
          >Вопросы и ответы</a
        >

        <div class="menu-mobil__phone">
          <a class="menu-mobil__phone-link" href="tel:+78002004766">
            <p class="menu-mobil__phone-number">8 800 200-47-66</p>
          </a>

          <button class="menu-mobil__obratnyy-zvonok">Обратный звонок</button>
        </div>
      </div>

      <div>
        <p class="menu-mobil__copy-right">© 2009-2019 НПФ Ренессанс. Пенсии</p>

        <p class="menu-mobil__copy-right">
          Лицензия № 383/2 от 16 июня 2009 года
        </p>
      </div>

      <button class="menu-mobil__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>
    <!-- menu-mobil -->

    <!-- call-back -->
    <section class="call-back call-back__left">
      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Как вас зовут?</p>

            <input
              class="my-form__field"
              type="text"
              name="name"
              tabindex="6"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="7"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="call-back__button-container">
          <button class="my-form__button primary-button" tabindex="7" disabled>
            Отправить
          </button>
        </div>
      </div>

      <button class="call-back__button-hide">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>
    <!-- call-back -->

    <!-- login-form -->
    <section class="login-form login-form__hide login-form__scale-1">
      <h1 class="login-form__heading">Вход</h1>

      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="1"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Электронная почта</p>

            <input
              class="my-form__field"
              type="email"
              name="email"
              autocomplete="on"
              tabindex="2"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Пароль</p>

            <input
              class="my-form__field"
              type="text"
              name="password"
              tabindex="3"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="login-form__button-container">
          <button class="my-form__button primary-button" tabindex="4" disabled>
            Продолжить
          </button>
        </div>
      </div>

      <p class="login-form__title">
        Вход для клиентов
        <span class="login-form__title_span"> НПФ "Ренессанс - пенсии"</span>
      </p>

      <p class="login-form__subtitle">
        Нажимая кнопку «Продолжить», вы выражаете согласие на обработку своих
        персональных данных и принимаете условия соглашения
      </p>

      <button class="login-form__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>
    <!-- login-form -->

    <script src="../js/supportService/supportExpandingBlock.js"></script>
    <script src="../js/supportService/supportLoginForm.js"></script>

    <!--  -->
    <script src="../js/callBack.js"></script>
    <script src="../js/menuMobil.js"></script>
    <script src="../js/loginForm.js"></script>
    <!--  -->
  </body>
</html>
