<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/generalNpf.css" />
    <link rel="stylesheet" href="../styles/css/headerFooter.css" />
    <link rel="stylesheet" href="../styles/css/taxation.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__row">
          <div class="header__left-bloc">
            <button class="header__button-lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </button>

            <a class="header__logotype" href="../templates/main.html">
              <img
                class="header__image"
                src="../assets/logotype/logoWhite.svg"
                alt=""
              />

              <img
                class="header__image"
                src="../assets/logotype/logoWhiteSmall.svg"
                alt=""
              />
            </a>

            <div class="header__nav">
              <a class="header__link" href="../templates/aboutFund.html"
                >О фонде</a
              >
              <a class="header__link" href="../templates/invest.html"
                >Инвестиционная деятельность</a
              >
              <a class="header__link" href="../templates/forBusiness.html"
                >Бизнесу</a
              >
              <a class="header__link" href="../templates/supportService.html"
                >Поддержка</a
              >
              <a class="header__link" href="../templates/contacts.html"
                >Контакты</a
              >
            </div>
          </div>

          <div class="header__right-bloc">
            <div class="header__contacts">
              <div class="header__phone">
                <a class="header__phone-link" href="tel:+78002004766">
                  <p class="header__phone-number">8 800 200-47-66</p>
                </a>

                <button class="header__obratnyy-zvonok">Обратный звонок</button>
              </div>
            </div>

            <div class="header__button-switch">
              <div class="header__button-images">
                <img
                  class="header__icon"
                  src="../assets/icons/userColored.svg"
                  alt=""
                />
                <img
                  class="header__icon"
                  src="../assets/icons/userContact.svg"
                  alt=""
                />
              </div>

              <p class="header__button-title">Личный кабинет</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section
        class="top-block"
        style="
          background-image: url(../assets/images/aboutFund/aboutFundTop.jpg);
        "
      >
        <div class="top-block__container">
          <h1 class="top-block__heading">Налогообложение</h1>

          <p class="top-block__subheading">
            Порядок налогообложения при выплате пенсий и выкупных сумм
          </p>
        </div>
      </section>

      <section class="taxation">
        <p class="taxation__paragraph">
          <br />
        </p>
        <div class="taxation__block">
          <div class="taxation__table-block">
            <div class="taxation__table-container">
              <table class="taxation__table-common">
                <tr class="taxation__table-row">
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      <span class="taxation__cell-heading"
                        >Пенсионные суммы за счет взносов компании</span
                      >
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      <span class="taxation__cell-heading">Выкупная сумма</span>
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      <span class="taxation__cell-heading">Пенсия</span>
                      <!---->
                    </p>
                  </td>
                </tr>
                <tr class="taxation__table-row">
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      Взносы
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      НДФЛ
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      НДФЛ
                      <!---->
                    </p>
                  </td>
                </tr>
                <tr class="taxation__table-row">
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      Инвестиционный доход
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      НДФЛ
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      НДФЛ
                      <!---->
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <p class="taxation__cell-text"><br /></p>
          <div class="taxation__table-block">
            <div class="taxation__table-container">
              <table class="taxation__table-common">
                <tr class="taxation__table-row">
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      <span class="taxation__cell-heading"
                        >Пенсионные суммы за счет взносов участника</span
                      >
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      <span class="taxation__cell-heading">Выкупная сумма</span>
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      <span class="taxation__cell-heading">Пенсия</span>
                      <!---->
                    </p>
                  </td>
                </tr>
                <tr class="taxation__table-row">
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      Взносы
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      Удерживается сумма НДФЛ, соответствующая социальному
                      налоговому вычету за период участия
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      НДФЛ не удерживается *
                      <!---->
                    </p>
                  </td>
                </tr>
                <tr class="taxation__table-row">
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      Инвестиционный доход
                      <!---->
                    </p>
                  </td>
                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      НДФЛ
                      <!---->
                    </p>
                  </td>

                  <td class="taxation__table-cell">
                    <p class="taxation__cell-text">
                      НДФЛ не удерживается *
                      <!---->
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <p class="taxation__paragraph">
            * Независимо от факта получения / неполучения социального налогового
            вычета
          </p>

          <p class="taxation__paragraph"><br /></p>

          <p class="taxation__paragraph"><br /></p>

          <p class="taxation__paragraph">
            Доводим до Вашего сведения следующие изменения в налоговом
            законодательстве Российской Федерации.
          </p>

          <p class="taxation__paragraph">
            С 01 января 2008 года вступили в силу изменения в Налоговый кодекс
            Российской Федерации (далее – НК РФ), согласно которым
            налогоплательщику предоставляется право воспользоваться социальным
            налоговым вычетом в сумме фактически уплаченных пенсионных взносов
            по пенсионному договору, заключенному с российским негосударственным
            пенсионным фондом, в налоговом периоде. Налоговым периодом для
            определения налоговой базы по налогу на доходы физических лиц
            является один календарный год (ст. 216 НК РФ).
          </p>

          <p class="taxation__paragraph">
            Право на получение социального налогового вычета имеют те
            налогоплательщики (физические лица), которые заключили договоры
            негосударственного пенсионного обеспечения (пенсионные договоры)
            и/или вносили пенсионные взносы по данным договорам с 1 января 2007
            года. Договоры могут быть заключены такими физическими лицами в
            пользу себя, либо в пользу супруга (в том числе, в пользу вдовы,
            вдовца), родителей (в том числе, усыновителей), детей-инвалидов (в
            том числе, усыновленных, находящихся под опекой (попечительством). В
            качестве лиц, которые могут воспользоваться правом на получение
            социального налогового вычета, выступают налогоплательщики НДФЛ.
            Социальные налоговые вычеты, предусмотренные в п. 1 ст. 219 НК РФ,
            предоставляются на основании письменного заявления налогоплательщика
            при подаче налоговой декларации 3-НДФЛ в налоговый орган
            налогоплательщиком по окончании налогового периода (в течение
            следующего года). К указанному заявлению налогоплательщик должен
            предоставить документы, подтверждающие его фактические расходы по
            негосударственному пенсионному обеспечению.
          </p>

          <p class="taxation__paragraph">
            <br />
          </p>

          <p class="taxation__paragraph-heading">
            Обращаем Ваше внимание, что независимо от суммы уплаченных
            пенсионных взносов за налоговый период, сумма социального налогового
            вычета не может превышать 120 000 рублей в год (сумма НДФЛ к
            возврату составляет 120 000 руб. * 13% = 15 600 рублей) с 2008 года.
          </p>

          <p class="taxation__paragraph">
            Необходимо отметить, что этот максимальный размер вычета является
            общим для видов расходов, по которым может быть применен социальный
            налоговый вычет в соответствие со ст. 219 НК РФ: на собственное
            обучение налогоплательщика, на лечение и на негосударственное
            пенсионное обеспечение/добровольное пенсионное страхование. Иными
            словами, максимальный предел ограничивает общую совокупную сумму
            этих трех видов расходов. Если в течение одного налогового периода
            налогоплательщик понес и расходы на свое обучение, и расходы на
            лечение, и «пенсионные» расходы, то он может самостоятельно выбрать,
            какие виды расходов и в каких суммах он учтет при заявлении
            социального вычета. По общему правилу социальные налоговые вычеты
            полагаются каждый календарный год, но на следующий год вычет не
            переносится.
          </p>

          <p class="taxation__paragraph">
            В связи с предоставлением налогоплательщику права на социальный
            налоговый вычет изменился порядок налогообложения при расторжении
            пенсионного договора. Необходимо учитывать, что в случае расторжения
            пенсионного договора и выплате физическому лицу, который
            воспользовался предоставленным правом и получил социальный налоговый
            вычет, выкупной суммы, Фонд, как налоговый агент, обязан удержать
            сумму НДФЛ, начисленную с суммы дохода, равной сумме пенсионных
            взносов, уплаченных физическим лицом по пенсионному договору, за
            каждый календарный год, в котором налогоплательщик имел право на
            получение социального налогового вычета, начиная с 01 января 2007
            года.
          </p>

          <p class="taxation__paragraph">
            В случае если налогоплательщик не воспользовался своим правом на
            получение социального налогового вычета и обратился в Фонд в целях
            расторжения пенсионного договора и получения выкупной суммы, Фонд
            соответственно не удерживает НДФЛ с выкупной суммы. При этом,
            налогоплательщик обязан подтвердить факт неполучения социального
            налогового вычета соответствующей справкой, выданной налоговым
            органом по месту регистрации налогоплательщика.
          </p>

          <p class="taxation__paragraph">
            Мы надеемся, что данная информация будет полезна для Вас и поможет
            Вам наилучшим образом распорядиться пенсионными суммами, учтенными
            на Вашем счете в Фонде.
          </p>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__container">
          <div class="footer__header">
            <a class="footer__logotype" href="../templates/main.html">
              <img
                class="footer__logo-big"
                src="../assets/logotype/logoColored.svg"
              />

              <img
                class="footer__logo-small"
                src="../assets/logotype/logoColoredSmall.svg"
              />
            </a>

            <div>
              <img
                class="footer__logos-items"
                src="../assets/icons/logoNapf.svg"
                alt=""
              />

              <img
                class="footer__logos-items"
                src="../assets/icons/logoAeb.svg"
                alt=""
              />

              <img src="../assets/icons/logoExpert.svg" alt="" />
            </div>
          </div>
          <div class="footer__phone">
            <h2 class="footer__phone-number">8 800 200-47-66</h2>
          </div>

          <div class="footer__menu">
            <div class="footer__nav">
              <div class="footer__column">
                <a
                  class="footer__link"
                  href="../templates/supportService.html#write-to-us"
                  >Написать нам</a
                >
                <a
                  class="footer__link"
                  href="../templates/supportService.html#questions-and-answers"
                  >Вопросы и ответы</a
                >
                <a class="footer__link" href="../templates/aboutFund.html"
                  >О Фонде</a
                >
                <a class="footer__link" href="../templates/fundManagement.html"
                  >Руководство Фондом</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/infoOpening.html"
                  >Раскрытие информации</a
                >
                <a class="footer__link" href="../templates/invest.html"
                  >Инвестиционная деятельность
                </a>

                <a class="footer__link" href="../templates/forBusiness.html"
                  >Для бизнеса</a
                >
                <a class="footer__link" href="../templates/main.html#calculator"
                  >Калькулятор</a
                >
              </div>

              <div class="footer__column">
                <a class="footer__link" href="../templates/news.html"
                  >Новости</a
                >
                <a class="footer__link" href="../templates/taxation.html"
                  >Налогообложение</a
                >
              </div>
            </div>

            <div class="footer__copyright-wrapper">
              <div class="footer__copyright">
                <a
                  class="footer__copyright-link"
                  href="../templates/spisokAktsionerov.html"
                >
                  Список акционеров Фонда и лиц, под контролем либо значительным
                  влиянием которых находится Фонд (соответствует информации,
                  направленной в Банк России 16.03.2021 г. для размещения на
                  официальном сайте Банка России).</a
                >

                <p class="footer__copyright-npf">
                  © 2009-2019 НПФ Ренессанс. Пенсии.
                </p>

                <p class="footer__copyright-license">
                  Лицензия № 383/2 от 16 июня 2009 года
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>

    <section class="menu-mobil menu-mobil__hide">
      <div>
        <div class="menu-mobil__logos">
          <img
            class="menu-mobil__logo-small"
            src="../assets/logotype/logoColoredSmall.svg"
            alt=""
          />

          <img
            class="menu-mobil__logo-big"
            src="../assets/logotype/logoColored.svg"
            alt=""
          />
        </div>

        <p class="menu-mobil__title">О Фонде</p>

        <a class="menu-mobil__link" href="../templates/fundManagement.html"
          >Руководство Фондом</a
        >

        <a class="menu-mobil__link" href="../templates/infoOpening.html"
          >Раскрытие информации</a
        >

        <a class="menu-mobil__link" href="../templates/invest.html"
          >Инвестиционная деятельность</a
        >

        <p class="menu-mobil__title">Клиентам</p>

        <a class="menu-mobil__link" href="../templates/forBusiness.html"
          >Для бизнеса</a
        >

        <a class="menu-mobil__link" href="../templates/main.html#calculator"
          >Калькулятор</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#write-to-us"
          >Написать нам</a
        >

        <a
          class="menu-mobil__link"
          href="../templates/supportService.html#questions-and-answers"
          >Вопросы и ответы</a
        >

        <div class="menu-mobil__phone">
          <a class="menu-mobil__phone-link" href="tel:+78002004766">
            <p class="menu-mobil__phone-number">8 800 200-47-66</p>
          </a>

          <button class="menu-mobil__obratnyy-zvonok">Обратный звонок</button>
        </div>
      </div>

      <div>
        <p class="menu-mobil__copy-right">© 2009-2019 НПФ Ренессанс. Пенсии</p>

        <p class="menu-mobil__copy-right">
          Лицензия № 383/2 от 16 июня 2009 года
        </p>
      </div>

      <button class="menu-mobil__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="call-back call-back__left">
      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Как вас зовут?</p>

            <input
              class="my-form__field"
              type="text"
              name="name"
              tabindex="6"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="7"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="call-back__button-container">
          <button class="my-form__button primary-button" tabindex="7" disabled>
            Отправить
          </button>
        </div>
      </div>

      <button class="call-back__button-hide">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <section class="login-form login-form__hide login-form__scale-1">
      <h1 class="login-form__heading">Вход</h1>

      <div class="my-form">
        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Телефон</p>

            <input
              class="my-form__field tel-number"
              type="number"
              name="phone"
              autocomplete="on"
              tabindex="1"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Электронная почта</p>

            <input
              class="my-form__field"
              type="email"
              name="email"
              autocomplete="on"
              tabindex="2"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="my-form__label-container">
          <label class="my-form__label">
            <p class="my-form__title">Пароль</p>

            <input
              class="my-form__field"
              type="text"
              name="password"
              tabindex="3"
            />

            <p class="my-form__error"></p>
          </label>
        </div>

        <div class="login-form__button-container">
          <button class="my-form__button primary-button" tabindex="4" disabled>
            Продолжить
          </button>
        </div>
      </div>

      <p class="login-form__title">
        Вход для клиентов
        <span class="login-form__title_span"> НПФ "Ренессанс - пенсии"</span>
      </p>

      <p class="login-form__subtitle">
        Нажимая кнопку «Продолжить», вы выражаете согласие на обработку своих
        персональных данных и принимаете условия соглашения
      </p>

      <button class="login-form__cross-switch">
        <img src="../assets/icons/crossSwitch.svg" alt="" />
      </button>
    </section>

    <script src="../js/callBack.js"></script>
    <script src="../js/menuMobil.js"></script>
    <script src="../js/loginForm.js"></script>
  </body>
</html>
